---
layout: sidebar-right
category: childrens-ya-books
title: New in and children's reading ideas
breadcrumb: children-parents
sidebar: children-parents
excerpt: "We stock thousands of children's books, both fiction and non-fiction. Here are some reviews, suggestions and lists of new books for children aged 0-11."
pagination:
  enabled: true
  category: childrens-ya-books
---

<div class="{% include /c/generic-panel.html %}">

<p>Read your way to Christmas with our <a href="/parents-carers-and-children/childrens-ya-books/childrens-advent-calendar-2017/">Christmas children's book advent calendar</a>.<p>

</div>

{% include post-listing-paginated.html %}
