---
layout: default
title: "Upcoming events at Newmarket Library"
breadcrumb: events
---

<h1 class="{% include /c/page-title.html %}">Upcoming events at Newmarket Library</h1>

{% assign newmarket-events = site.events | where: "location", "newmarket-library" | sort: "event-start-date" %}

{% for event in newmarket-events %}

{% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

{% if event.event-end-date %}

    {% capture event-time-seconds %}{{event.event-end-date | date: '%s' }}{% endcapture %}

{% else %}

    {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

{% endif %}

{% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

{% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

{% if now-unix <= event-time %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> - {{ event.event-end-date | date: "%a %-d %b" }} <span>{{ event.event-start-time }} - {{ event.event-end-time }}</span>
        </p>

    </article>

{% endif %}

{% endfor %}
