---
title: "Recorded events and activities"
layout: new-blank
breadcrumb: home
jquery: true
ling: true
---

<header class="ph2 ph3-ns">

  <h1 class="f3 f2-ns custom-lh-title">Recorded events and activities</h1>

  <div class="mv3 f6 pb2 bb b--light-gray" id="event-cats">

      <div class="db dib-ns mb2 mb0-ns mr2-ns">Filter recordings: </div>

      <a class="db dib-ns ph2 pv1 br2 blue bg-light-gray mb2 mb0-l mr2-ns" data-tag="all" href="#">All</a>
      <a class="db dib-ns ph2 pv1 br2 blue bg-light-gray mb2 mb0-l mr2-ns" data-tag="children" href="#">Songs & stories</a>
      <a class="db dib-ns ph2 pv1 br2 blue bg-light-gray mb2 mb0-l mr2-ns" data-tag="crafts" href="#">Art & crafts</a>
      <a class="db dib-ns ph2 pv1 br2 blue bg-light-gray mb2 mb0-l mr2-ns" data-tag="health" href="#">Health & wellbeing</a>
      <a class="db dib-ns ph2 pv1 br2 blue bg-light-gray mb2 mb0-l mr2-ns" data-tag="group" href="#">Reviews</a>
      <a class="db dib-ns ph2 pv1 br2 blue bg-light-gray mb2 mb0-l" data-tag="interview" href="#">Artist & author interviews</a>

  </div>

</header>

<div id="all-events">

  {% assign events = site.online-events | where: "format", "recording" %}

  <div data-category="interview" class="pb3">

    <h2 class="ph2 ph3-ns f4 custom-lh-title pv0 mv2">Artist & author interviews (<a class="dib f6 blue underline" href="/events-activities/online-and-streamed-events/recordings/artist-interviews">see all &rarr;</a>)</h2>

    <div class="flex-ns flex-wrap-ns justify-start-ns">

      {% assign all_arts_events = events | where:"category", "interview" %}

      {% assign featured_arts_events = all_arts_events | where:"featured-recording", "true" | reverse %}

      {% for arts_event in featured_arts_events limit:4 %}

      <article class="mb3 pb1 w-50-ns w-25-l ph2 ph3-ns">

        {% if arts_event.service == "youtube" %}

          <div class="custom-constrain">

            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ arts_event.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>

        {% elsif arts_event.service == "facebook" %}

          <div class="custom-constrain">

            <iframe src="{{ arts_event.link }}" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

          </div>

        {% endif %}

        <h3 class="f6 custom-lh-title mv1 pa0 normal"><a href="{{ arts_event.url }}" class="blue underline-hover">{{ arts_event.title | strip_html }}</a></h3>

      </article>

    {% endfor %}

    </div>

  </div> <!-- end interviews -->

  <div data-category="children" class="pb3">

    <h2 class="ph2 ph3-ns f4 custom-lh-title pv0 mv2">Songs & stories (<a class="dib f6 blue underline" href="/events-activities/online-and-streamed-events/recordings/songs-and-stories">see all &rarr;</a>)</h2>

      <div class="flex-ns flex-wrap-ns justify-start-ns">

      {% assign all_childrens_events = events | where: "category", "children" %}

      {% assign featured_childrens_events = all_childrens_events | where:"featured-recording", "true" | reverse %}

      {% for childrens_event in featured_childrens_events limit:4 %}

        <article class="mb3 pb1 w-50-ns w-25-l ph2 ph3-ns">

          {% if childrens_event.service == "youtube" %}

            <div class="custom-constrain">

              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ childrens_event.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

          {% elsif childrens_event.service == "facebook" %}

            <div class="custom-constrain">

              <iframe src="{{ childrens_event.link }}" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

            </div>

          {% endif %}

          <h3 class="f6 custom-lh-title mv1 pa0 normal"><a href="{{ childrens_event.url }}" class="blue underline-hover">{{ childrens_event.title | strip_html }}</a></h3>

        </article>

      {% endfor %}

    </div>

  </div> <!-- end childrens -->

  <div data-category="crafts" class="pb3">

    <h2 class="ph2 ph3-ns f4 custom-lh-title pv0 mv2">Arts & crafts (<a class="dib f6 blue underline" href="/events-activities/online-and-streamed-events/recordings/crafts">see all &rarr;</a>)</h2>

      <div class="flex-ns flex-wrap-ns justify-start-ns">

      {% assign crafts_events = events | where: "category", "crafts" | reverse %}

      {% for crafts_event in crafts_events limit:4 %}

        <article class="mb3 pb1 w-50-ns w-25-l ph2 ph3-ns">

          {% if crafts_event.service == "youtube" %}

            <div class="custom-constrain">

              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ crafts_event.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

          {% elsif crafts_event.service == "facebook" %}

            <div class="custom-constrain">

              <iframe src="{{ crafts_event.link }}" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

            </div>

          {% endif %}

          <h3 class="f6 custom-lh-title mv1 pa0 normal"><a href="{{ crafts_event.url }}" class="blue underline-hover">{{ crafts_event.title | strip_html }}</a></h3>

        </article>

      {% endfor %}

    </div>

  </div> <!-- end arts and crafts -->

  <div data-category="health" class="pb3">

    <h2 class="ph2 ph3-ns f4 custom-lh-title pv0 mv2">Health & wellbeing (<a class="dib f6 blue underline" href="/events-activities/online-and-streamed-events/recordings/health-and-wellbeing/">see all &rarr;</a>)</h2>

      <div class="flex-ns flex-wrap-ns justify-start-ns">

      {% assign health_events = events | where: "category", "health" | reverse %}

      {% for health_event in health_events limit:4 %}

        <article class="mb3 pb1 w-50-ns w-25-l ph2 ph3-ns">

          {% if health_event.service == "youtube" %}

            <div class="custom-constrain">

              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ health_event.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

          {% elsif health_event.service == "facebook" %}

            <div class="custom-constrain">

              <iframe src="{{ health_event.link }}" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

            </div>

          {% endif %}

          <h3 class="f6 custom-lh-title mv1 pa0 normal"><a href="{{ health_event.url }}" class="blue underline-hover">{{ health_event.title | strip_html }}</a></h3>

        </article>

      {% endfor %}

    </div>

  </div> <!-- end health -->

  <div data-category="group" class="pb3">

    <h2 class="ph2 ph3-ns f4 custom-lh-title pv0 mv2">Reviews (<a class="dib f6 blue underline" href="/events-activities/online-and-streamed-events/recordings/reviews/">see all &rarr;</a>)</h2>

    <div class="flex-ns flex-wrap-ns justify-start-ns">

    {% assign review_events = events | where: "category", "group" | reverse %}

    {% for review_event in review_events limit:4 %}

      <article class="mb3 pb1 w-50-ns w-25-l ph2 ph3-ns">

        {% if review_event.service == "youtube" %}

          <div class="custom-constrain">

            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ review_event.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>

        {% elsif review_event.service == "facebook" %}

          <div class="custom-constrain">

            <iframe src="{{ review_event.link }}" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

          </div>

        {% endif %}

        <h3 class="f6 custom-lh-title mv1 pa0 normal"><a href="{{ review_event.url }}" class="blue underline-hover">{{ review_event.title | strip_html }}</a></h3>

      </article>

    {% endfor %}

  </div> <!-- end reviews -->

</div>
