---
title: eLibrary
layout: default
breadcrumb: home
---

<h1 class="{% include /c/page-title.html %}">eLibrary</h1>

<div class="pa2 ph3-ns bg-dark-blue white">

  <p class="ma0"><strong><a class="custom-force-white bb b--white" href="/elibrary/press-reader/">Try PressReader</a></strong> free access to hundreds of popular newspapers and magazines from across the world &rarr;</p>

</div>

<div class="bg-light-gray pa2 pa3-ns mb3 mb4-ns bb b--dark-blue bw2">

  <p class="mt0 mb1">Free access to thousands of eBooks, magazines, newspapers, eAudio and music:</p>

  <ul class="mv0">

    <li><a class="pv1 pv0-ns" href="/elibrary/borrowing-periods-and-allowances/">What you can borrow and for how long</a></li>
    <li><a class="pv1 pv0-ns" href="/help/borrowing-ereaders-and-ipads/">Borrow iPads and eReaders from libraries</a></li>
    <li><a class="pv1 pv0-ns" href="/help/joining-the-library/">Apply for a library card now</a></li>
    <li><a class="pv1 pv0-ns" href="/new-suggestions/elibrary/">Find great eBooks, eAudio and more with our eLibrary recommendations</a></li>

  </ul>

</div>

<div class="flex-ns flex-wrap-ns flex-row-ns justify-between-ns">

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">OverDrive eBooks &amp; eAudio</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/overdrive/"><img src="/images/featured/featured-overdrive.jpg" class="custom-constrain-img db" alt="OverDrive titles"></a>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/overdrive/">Set up OverDrive</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://suffolklibraries.lib.overdrive.com/">OverDrive website</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://itunes.apple.com/us/app/libby-by-overdrive-labs/id1076402606?pt=211483&ct=meetLibby&mt=8">Libby, by OverDrive app in the App Store</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://play.google.com/store/apps/details?id=com.overdrive.mobile.android.libby&referrer=utm_source%3Dmeet_libby">Libby, by OverDrive app on Google Play</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://www.microsoft.com/en-us/store/p/libby-by-overdrive/9p6g3tcr4hzr">Libby, by OverDrive app in the Windows Store</a></li>


      </ul>

    </section>

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">BorrowBox eAudio</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/borrowbox/"><img src="/images/featured/featured-borrowbox.jpg" class="custom-constrain-img db" alt="BorrowBox titles"></a>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/borrowbox/">Set up BorrowBox</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://library.bolindadigital.com/suffolk">BorrowBox website</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://itunes.apple.com/gb/app/borrowbox-library/id562843562?mt=8">BorrowBox app in the App Store</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://play.google.com/store/apps/details?id=com.bolindadigital.BorrowBoxLibrary&hl=en_GB">BorrowBox app on Google Play</a></li>

      </ul>

    </section>

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">Freegal music</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/freegal/"><img src="/images/featured/featured-freegal.jpg" class="custom-constrain-img db" alt="Freegal artists"></a>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/freegal/">Set up Freegal</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://suffolklibraries.freegalmusic.com/">Freegal website</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://itunes.apple.com/in/app/freegal-music/id508036345?mt=8">Freegal app in the App Store</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://play.google.com/store/apps/details?id=com.libraryideas.freegalmusic">Freegal app on Google Play</a></li>

      </ul>

    </section>

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">RBdigital magazines</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/rbdigital/"><img src="/images/featured/featured-rbdigital.jpg" class="custom-constrain-img db" alt="RBdigital titles"></a>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/rbdigital/">Set up RBdigital</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://suffolk.rbdigitalglobal.com/">RBdigital website</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://itunes.apple.com/us/app/oneclickdigital/id515311743?mt=8">RBdigital app in the App Store</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://play.google.com/store/apps/details?id=com.ocd">RBdigital app on Google Play</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://www.amazon.com/Recorded-Books-OneClickdigital/dp/B009GLFOL4/ref=sr_1_1?s=mobile-apps&ie=UTF8&qid=1358440633&sr=1-1&keywords=oneclickdigital">RBdigital app in the Kindle Fire App Store</a></li>


      </ul>

    </section>

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">PressReader newspapers &amp; magazines</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/press-reader/"><img src="/images/featured/featured-press-reader.jpg" class="custom-constrain-img db" alt="PressReader titles"></a>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/press-reader/">Set up PressReader</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://www.pressreader.com/">PressReader website</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://itunes.apple.com/us/app/pressreader/id313904711?mt=8">PressReader app in the App Store</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://play.google.com/store/apps/details?id=com.newspaperdirect.pressreader.android&hl=en_GB">PressReader app on Google Play</a></li>


      </ul>

    </section>

</div>
