---
title: eLibrary
layout: default
breadcrumb: home
---

<h1 class="{% include /c/page-title.html %}">eLibrary</h1>

<div class="pa2 ph3-ns bg-dark-blue white">

  <p class="ma0"><strong><a class="custom-force-white bb b--white" href="/elibrary/press-reader/">Try PressReader</a></strong> free access to hundreds of popular newspapers and magazines from across the world &rarr;</p>

</div>

<div class="bg-light-gray pa2 pa3-ns mb3 mb4-ns bb b--dark-blue bw2">

  <p class="mt0 mb1">Free access to thousands of eBooks, magazines, newspapers, eAudio and music:</p>

  <ul class="mv0">

    <li><a class="pv1 pv0-ns" href="/elibrary/borrowing-periods-and-allowances/">What you can borrow and for how long</a></li>
    <li><a class="pv1 pv0-ns" href="/help/borrowing-ereaders-and-ipads/">Borrow iPads and eReaders from libraries</a></li>
    <li><a class="pv1 pv0-ns" href="/help/joining-the-library/">Apply for a library card now</a></li>

  </ul>

</div>

<div class="flex-ns flex-wrap-ns flex-row-ns justify-between-ns">

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">OverDrive eBooks &amp; eAudio</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/overdrive/"><img src="/images/featured/featured-overdrive.jpg" class="custom-constrain-img db" alt="OverDrive titles"></a>

      <p class="{% include /c/block-graf.html %}">Choose from a large range of eBooks and eAudio. Use the OverDrive website with your library card, or download apps for Android, Kindle Fire and iOS.</p>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/overdrive/">OverDrive instructions</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://suffolklibraries.lib.overdrive.com/">OverDrive website</a></li>

      </ul>

    </section>

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">BorrowBox eAudio</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/borrowbox/"><img src="/images/featured/featured-borrowbox.jpg" class="custom-constrain-img db" alt="BorrowBox titles"></a>

      <p class="{% include /c/block-graf.html %}">Choose from a wide range of eAudio books. Use the BorrowBox website with your library card, or download apps for Android, Kindle Fire and iOS.</p>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/borrowbox/">BorrowBox instructions</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://library.bolindadigital.com/suffolk">BorrowBox website</a></li>

      </ul>

    </section>

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">Freegal music</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/freegal/"><img src="/images/featured/featured-freegal.jpg" class="custom-constrain-img db" alt="Freegal artists"></a>

      <p class="{% include /c/block-graf.html %}">Download or stream from a choice of hundreds of thousands of songs, including the entire Sony back catalogue. Use the Freegal website with your library card, or download apps for Android and iOS.</p>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/freegal/">Freegal instructions</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://suffolklibraries.freegalmusic.com/">Freegal website</a></li>

      </ul>

    </section>

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">RBdigital magazines</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/rbdigital/"><img src="/images/featured/featured-rbdigital.jpg" class="custom-constrain-img db" alt="RBdigital titles"></a>

      <p class="{% include /c/block-graf.html %}">Download titles like <cite>Top Gear Magazine</cite> and <cite>Good Food</cite> to your device to keep forever. Use the RBdigital website with your library card, or download apps for Android, Kindle Fire and iOS.</p>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/rbdigital/">RBdigital instructions</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="https://suffolk.rbdigitalglobal.com/">RBdigital website</a></li>

      </ul>

    </section>

    <section class="{% include /c/block.html %} c-w-46-ns w-30-l mb3">

      <h2 class="{% include /c/block-title.html %}">PressReader newspapers &amp; magazines</h2>

      <a class="custom-ba-moon-gray db" href="/elibrary/press-reader/"><img src="/images/featured/featured-press-reader.jpg" class="custom-constrain-img db" alt="PressReader titles"></a>

      <p class="{% include /c/block-graf.html %}">Read or download thousands of key newspaper and magazine titles from around the world. Use the PressReader website with your library card, or download apps for Android and iOS.</p>

      <ul class="{% include /c/block-list.html %}">

          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="/elibrary/press-reader/">PressReader instructions</a></li>
          <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="http://www.pressreader.com/">PressReader website</a></li>

      </ul>

    </section>

</div>
