---
layout: new-blank
title: Suffolk Libraries reserve, renew, branches and eLibrary
# featured-story: false
meta-title: "Home"
meta-description: "Reserve and renew titles, download eBooks, eAudio and music, and find libraries and events"
---

{%
  include z-bar.html
  src="borrower/ebook.jpg"
  alt="Man in a suit reading an eBook."
  bg-color="bg-white"
  color="dark-gray"
  title="eLibrary"
  small-text="true"
  text="Free access to thousands of the latest eBooks, eAudio titles, magazines, newspapers, films, courses and streaming. For children and adults."
  link="/elibrary/"
  link-text="Get set up with the eLibrary now &rarr;"
  link-color="custom-corporate"
%}

{%
  include z-bar.html
  src="home/online.jpg"
  alt="A child watching a man playing a guitar on a TV."
  bg-color="custom-bg-corporate"
  color="white"
  title="Online events, activities & groups"
  small-text="true"
  text="Enjoy library live streams, recorded events and book & film groups from your home."
  link="/events-activities/online-and-streamed-events/"
  link-text="Find an online activity &rarr;"
  link-color="white"
%}

<div class="ph2 ph3-ns pv3 bg-near-white">

  <h2 class="f3 custom-lh-title mb1 tc">eLibrary staff picks</h2>

  <p class="tc">A collection of recommendations, lists and articles from our staff for reading online. Perfect for if you’re stuck at home.</p>

  <div class="flex flex-wrap justify-start">

    {% assign picks = site.elibrary-recommendations | reverse %}

    {% for pick in picks limit:5 %}

      <div class="w-50 w-third-ns w-20-l mv2 ph2">

        <a href="{{ pick.url }}" class="db underline-hover blue">

          <img class="db ma0 pa0" alt="{{ pick.alt }}" src="{{ pick.image }}">

          <h3 class="f6 f5-l mv1 pa0 custom-lh-title normal tc blue">{{ pick.title }}</h3>

        </a>

      </div>

    {% endfor %}

  </div>

  <p class="tc b"><a href="/elibrary/picks/" class="white bg-blue hover-bg-dark-blue pa2 br2">All staff picks &rarr;</a></p>

</div>

<div class="flex-l flex-wrap-l justify-between-l pv3 ph2 ph3-ns">

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/elibrary/" class="underline blue">eLibrary</a></h2>

    <p class="custom-lh-title f6">Free eBooks, magazines, eAudio, streaming</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/libraries/" class="underline blue">Libraries</a></h2>

    <p class="custom-lh-title f6">Opening times, facilities, events</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/mobiles-home/" class="underline blue">Mobiles &amp; home service</a></h2>

    <p class="custom-lh-title f6">Routes, timetables &amp; visits to houses and care homes</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/events-activities/" class="underline blue">Events &amp; activities</a></h2>

    <p class="custom-lh-title f6">Regular &amp; one off events, reading groups, courses</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/health/" class="underline blue">Health &amp; wellbeing</a></h2>

    <p class="custom-lh-title f6">Drop-ins, self-help reading, events, information</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/research-and-reference/" class="underline blue">Research &amp; reference</a></h2>

    <p class="custom-lh-title f6">Family history, encyclopedias, reference</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/help-with-reading-and-literacy/" class="underline blue">Reading &amp; literacy</a></h2>

    <p class="custom-lh-title f6">Helpful organisations, large print books</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/new-suggestions/" class="underline blue">Recommendations &amp; reviews</a></h2>

    <p class="custom-lh-title f6">Staff picks, reviews, articles, author interviews</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/parents-carers-and-children/" class="underline blue">Parents, carers &amp; children</a></h2>

    <p class="custom-lh-title f6">Family reading lists, children’s suggestions</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/help/" class="underline blue">Help using the service</a></h2>

    <p class="custom-lh-title f6">Charges, joining, printing &amp; copying</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/news/" class="underline blue">News</a></h2>

    <p class="custom-lh-title f6">Updates, press releases, blogs</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/about/jobs/" class="underline blue">Jobs</a></h2>

    <p class="custom-lh-title f6">Vacancies</p>

  </div>

</div>

<section class="pt4 pb3 pb4-ns ph2 ph3-ns">

    <h2 class="f5 pa0 ma0 mb2 pt2 pb2 bb b--light-gray">More</h2>

    <ul class="list ma0 mb2 pa0 f6">

        <li class="dib-ns mr3-ns"><a href="/about/" class="db pv1 underline blue">About us</a></li>
        <li class="dib-ns mr3-ns"><a href="/teachers-and-home-educators/" class="db pv1 underline blue">Teachers &amp; home educators</a></li>
        <li class="dib-ns mr3-ns"><a href="/work-and-benefits/" class="db pv1 underline blue">Work &amp; benefits</a></li>
        <li class="dib-ns mr3-ns"><a href="/business-and-room-hire/" class="db pv1 underline blue">Business &amp; room hire</a></li>
        <li class="dib-ns mr3-ns"><a href="/bloc/" class="db pv1 underline blue">BLOC youth arts programme</a></li>
        <li class="dib-ns mr3-ns"><a href="/music-and-drama" class="db pv1 underline blue">Music &amp; Drama Library</a></li>
        <li class="dib-ns mr3-ns"><a href="/volunteer" class="db pv1 underline blue">Volunteering</a></li>
        <li class="dib-ns mr3-ns"><a href="/support-us" class="db pv1 underline blue">Support us</a></li>

    </ul>

 </section>

 {% if page.featured-story %}

     {% assign featured_posts = site.pages | where: "featured", "true" %}

     {% for post in featured_posts limit:1 %}

       <div class="flex-l items-center-l white custom-bg-corporate pv3 pv0-l">

         <div class="w-50-l">

           <a href="{{ post.url }}"><img class="db pa0 ma0" src="{{ post.featured-image }}" alt="{{ post.featured-alt }}"></a>

         </div>

         <div class="w-50-l ph2 ph3-l pv3">

           <h2 class="mt0 mb1 custom-lh-title f3"><a class="custom-force-white" href="{{ post.url }}">{{ post.title }}</a></h2>

           <p class="ma0">{{ post.featured-excerpt }}</p>

           <p class="mb0 mt1 b"><a href="{{ post.url }}" class="underline custom-force-white">{{ post.featured-link-href-text }}</a></p>

         </div>

       </div>

     {% endfor %}

     {% elsif page.featured-story == false %}

     <div class="flex-l items-center-l white custom-bg-corporate pv3 pv0-l">

       <div class="w-50-l">

         <a href="/new-suggestions/"><img class="db pa0 ma0" src="/images/featured/tablet-reading.jpg" alt="Man reading from a tablet in a café"></a>

       </div>

       <div class="w-50-l ph2 ph3-l pv3">

         <h2 class="mt0 mb1 custom-lh-title f3"><a class="custom-force-white" href="/new-suggestions/">Recommendations &amp; reviews</a></h2>

         <p class="ma0">New books, audiobooks, music and DVDs, reviews, Meet the Author and more.</p>

         <p class="mb0 mt1 b"><a href="/new-suggestions/" class="underline custom-force-white">Get recommendations &amp; ideas &rarr;</a></p>

       </div>

     </div>

     {% endif %}
