---
layout: new-blank
title: Suffolk Libraries reserve, renew, branches and eLibrary
# featured-story: false
meta-title: "Home"
meta-description: "Reserve and renew titles, download eBooks, eAudio and music, and find libraries and events"
---

<div class="flex-l flex-wrap-l bb b--moon-gray">

  <div class="w-50-l flex bb b--moon-gray bn-l">

    <a href="/elibrary/" class="w-third pa2 pa3-ns flex items-center">

      <img src="/images/icons/essential-icons/smartphone-1.svg" alt="Phone" class="db mw3 center">

    </a>

    <div class="w-two-thirds pa2 pa3-ns">

      <a href="/elibrary/" class="db blue">

        <h2 class="f4 custom-lh-title pa0 mt0 mb1">eLibrary</h2>

        <p class="ma0 f5 dark-gray">eBooks, eAudio, films, documentaries, courses, streaming.</p>

      </a>

    </div>

  </div>

  <div class="w-50-l flex bl-l b--moon-gray">

    <a href="/elibrary/" class="w-third pa2 pa3-ns flex items-center">

      <img src="/images/icons/essential-icons/video-player.svg" alt="Video player" class="db mw3 center">

    </a>

    <div class="w-two-thirds pa2 pa3-ns">

      <a href="/elibrary" class="db blue">

        <h2 class="f4 custom-lh-title pa0 mt0 mb1">Online groups & activities</h2>

        <p class="ma0 f5 dark-gray">Library streams and recordings: Tot Rock, podcasts, workshops.</p>

      </a>

    </div>

  </div>

</div>

<div class="flex-l flex-wrap-l">

  <div class="ph2 ph3-ns pv3 bg-near-white w-50-l">

    <h2 class="f4 custom-lh-title mb1 pa0">eLibrary staff picks</h2>

    <p class="f6">A collection of recommendations, lists and articles from our staff for reading online. Perfect for if you’re stuck at home.</p>

    <div class="flex flex-wrap justify-start">

      {% assign picks = site.elibrary-recommendations | reverse%}

      {% for pick in picks limit:4 %}

        <div class="w-50 mv2 ph2">

          <a href="{{ pick.url }}" class="db underline-hover blue">

            <img class="db ma0 pa0" alt="{{ pick.alt }}" src="{{ pick.image }}">

            <h3 class="f6 mv1 pa0 custom-lh-title normal tc blue">{{ pick.title }}</h3>

          </a>

        </div>

      {% endfor %}

    </div>

    <p class="b"><a href="/elibrary/picks/" class="white bg-blue hover-bg-dark-blue pa2 br2">All staff picks &rarr;</a></p>

  </div>

  <div class="ph2 ph3-ns pv3 bg-near-white w-50-l w-50-l">

    <h2 class="f4 custom-lh-title mb1 pa0">Latest videos</h2>

    <p class="f6">Enjoy library activities, events and kids singalongs at home.</p>

    <div class="flex-ns flex-wrap-ns justify-start-ns">

      {% assign events = site.online-events | where: "featured-recording", "true" %}

      {% for event in events limit:3 %}

        <article class="mv3 pb1 w-50-ns w-third-l ph2-ns" data-category="{% for cat in event.category %}{{ cat }}{% endfor %}">

          {% if event.service == "youtube" %}

            <div class="custom-constrain">

              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ event.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

          {% endif %}

          <h2 class="f6 normal custom-lh-title mv1 pa0">{{ event.title | strip_html }}</h2>

          <p class="mv1 f6 custom-links">{% if event.description %}{{ event.description }}{% endif %}</p>

        </article>

      {% endfor %}

    </div>

    <p class="tc b"><a href="/events-activities/online-and-streamed-events/recordings/" class="white bg-blue hover-bg-dark-blue pa2 br2">All videos &rarr;</a></p>

  </div>

</div>

<div class="flex-l flex-wrap-l justify-between-l pv3 ph2 ph3-ns">

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/elibrary/" class="underline blue">eLibrary</a></h2>

    <p class="custom-lh-title f6">Free eBooks, magazines, eAudio, streaming</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/libraries/" class="underline blue">Libraries</a></h2>

    <p class="custom-lh-title f6">Opening times, facilities, events</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/mobiles-home/" class="underline blue">Mobiles &amp; home service</a></h2>

    <p class="custom-lh-title f6">Routes, timetables &amp; visits to houses and care homes</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/events-activities/" class="underline blue">Events &amp; activities</a></h2>

    <p class="custom-lh-title f6">Regular &amp; one off events, reading groups, courses</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/health/" class="underline blue">Health &amp; wellbeing</a></h2>

    <p class="custom-lh-title f6">Drop-ins, self-help reading, events, information</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/research-and-reference/" class="underline blue">Research &amp; reference</a></h2>

    <p class="custom-lh-title f6">Family history, encyclopedias, reference</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/help-with-reading-and-literacy/" class="underline blue">Reading &amp; literacy</a></h2>

    <p class="custom-lh-title f6">Helpful organisations, large print books</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/new-suggestions/" class="underline blue">Recommendations &amp; reviews</a></h2>

    <p class="custom-lh-title f6">Staff picks, reviews, articles, author interviews</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/parents-carers-and-children/" class="underline blue">Parents, carers &amp; children</a></h2>

    <p class="custom-lh-title f6">Family reading lists, children’s suggestions</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/help/" class="underline blue">Help using the service</a></h2>

    <p class="custom-lh-title f6">Charges, joining, printing &amp; copying</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/news/" class="underline blue">News</a></h2>

    <p class="custom-lh-title f6">Updates, press releases, blogs</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/about/jobs/" class="underline blue">Jobs</a></h2>

    <p class="custom-lh-title f6">Vacancies</p>

  </div>

</div>

<section class="pt4 pb3 pb4-ns ph2 ph3-ns">

    <h2 class="f5 pa0 ma0 mb2 pt2 pb2 bb b--light-gray">More</h2>

    <ul class="list ma0 mb2 pa0 f6">

        <li class="dib-ns mr3-ns"><a href="/about/" class="db pv1 underline blue">About us</a></li>
        <li class="dib-ns mr3-ns"><a href="/teachers-and-home-educators/" class="db pv1 underline blue">Teachers &amp; home educators</a></li>
        <li class="dib-ns mr3-ns"><a href="/work-and-benefits/" class="db pv1 underline blue">Work &amp; benefits</a></li>
        <li class="dib-ns mr3-ns"><a href="/business-and-room-hire/" class="db pv1 underline blue">Business &amp; room hire</a></li>
        <li class="dib-ns mr3-ns"><a href="/bloc/" class="db pv1 underline blue">BLOC youth arts programme</a></li>
        <li class="dib-ns mr3-ns"><a href="/music-and-drama" class="db pv1 underline blue">Music &amp; Drama Library</a></li>
        <li class="dib-ns mr3-ns"><a href="/volunteer" class="db pv1 underline blue">Volunteering</a></li>
        <li class="dib-ns mr3-ns"><a href="/support-us" class="db pv1 underline blue">Support us</a></li>

    </ul>

 </section>

 {% if page.featured-story %}

     {% assign featured_posts = site.pages | where: "featured", "true" %}

     {% for post in featured_posts limit:1 %}

       <div class="flex-l items-center-l white custom-bg-corporate pv3 pv0-l">

         <div class="w-50-l">

           <a href="{{ post.url }}"><img class="db pa0 ma0" src="{{ post.featured-image }}" alt="{{ post.featured-alt }}"></a>

         </div>

         <div class="w-50-l ph2 ph3-l pv3">

           <h2 class="mt0 mb1 custom-lh-title f3"><a class="custom-force-white" href="{{ post.url }}">{{ post.title }}</a></h2>

           <p class="ma0">{{ post.featured-excerpt }}</p>

           <p class="mb0 mt1 b"><a href="{{ post.url }}" class="underline custom-force-white">{{ post.featured-link-href-text }}</a></p>

         </div>

       </div>

     {% endfor %}

     {% elsif page.featured-story == false %}

     <div class="flex-l items-center-l white custom-bg-corporate pv3 pv0-l">

       <div class="w-50-l">

         <a href="/new-suggestions/"><img class="db pa0 ma0" src="/images/featured/tablet-reading.jpg" alt="Man reading from a tablet in a café"></a>

       </div>

       <div class="w-50-l ph2 ph3-l pv3">

         <h2 class="mt0 mb1 custom-lh-title f3"><a class="custom-force-white" href="/new-suggestions/">Recommendations &amp; reviews</a></h2>

         <p class="ma0">New books, audiobooks, music and DVDs, reviews, Meet the Author and more.</p>

         <p class="mb0 mt1 b"><a href="/new-suggestions/" class="underline custom-force-white">Get recommendations &amp; ideas &rarr;</a></p>

       </div>

     </div>

     {% endif %}
