---
layout: new-blank
title: Suffolk Libraries reserve, renew, branches and eLibrary
# featured-story: false
meta-title: "Home"
meta-description: "Reserve and renew titles, download eBooks, eAudio and music, and find libraries and events"
---

<div class="flex-l flex-wrap-l bb b--moon-gray">

  <div class="w-50-l flex bb b--moon-gray bn-l">

    <a href="/elibrary/" class="w-third pa2 pa3-ns flex items-center">

      <img src="/images/icons/essential-icons/smartphone-1.svg" alt="Phone" class="db mw3 center">

    </a>

    <div class="w-two-thirds pa2 pa3-ns">

      <h2 class="f4 custom-lh-title pa0 mt0 mb1"><a href="/elibrary/" class="db blue">eLibrary</a></h2>

      <p class="ma0 f6">Free eBooks, eAudio, films, documentaries, courses and streaming for your phone, tablet or PC. <br><a href="/elibrary/" class="blue db underline">Set up your device &rarr;</a></p>

    </div>

  </div>

  <div class="w-50-l flex bl-l b--moon-gray">

    <a href="/events-activities/online-and-streamed-events/" class="w-third pa2 pa3-ns flex items-center">

      <img src="/images/icons/essential-icons/video-player.svg" alt="Video player" class="db mw3 center">

    </a>

    <div class="w-two-thirds pa2 pa3-ns">

      <h2 class="f4 custom-lh-title pa0 mt0 mb1"><a href="/events-activities/online-and-streamed-events/" class="db blue">Online groups & activities</a></h2>

      <p class="ma0 f6">Library livestreams, groups and recordings: Children’s activities, book & film discussion groups, competitions and podcasts. <br><a href="/events-activities/online-and-streamed-events/" class="db blue underline">Find an online event or video &rarr;</a></p>

    </div>

  </div>

</div>

<div class="flex-l flex-wrap-l">

  <div class="pv3 bg-near-white w-50-l bb b--moon-gray bn-l">

    <h2 class="f5 custom-lh-title mb1 pv0 ph2 ph3-ns">eLibrary staff picks</h2>

    <p class="f6 ph2 ph3-ns">Staff recommendations, lists and articles for adults & children. Perfect for if you’re stuck at home.</p>

    <div class="flex flex-wrap justify-start">

      {% assign picks = site.elibrary-recommendations | where: "featured-pick", "true" | reverse %}

      {% for pick in picks limit:4 %}

        <div class="w-50 mv2 ph2 ph3-ns">

          <a href="{{ pick.url }}" class="db underline-hover blue">

            <img class="db ma0 pa0" alt="{{ pick.alt }}" src="{{ pick.image }}">

            <h3 class="f6 mv1 pa0 custom-lh-title normal tc blue">{{ pick.title }}</h3>

          </a>

        </div>

      {% endfor %}

    </div>

    <p class="ph2 ph3-ns"><a href="/elibrary/picks/" class="blue b underline">All staff picks &rarr;</a></p>

  </div>

  <div class="ph2 ph3-ns pv3 bg-near-white w-50-l bl-l b--moon-gray">

    <h2 class="f5 custom-lh-title mb1 pa0">Latest recordings</h2>

    <p class="f6 pb2-l">Enjoy library activities, events, kids singalongs, workshops and podcasts at home.</p>

    <!-- <div class="flex-ns flex-wrap-ns justify-start-ns"> -->

      {% assign events = site.online-events | where: "featured-recording", "true" | reverse %}

      {% for event in events limit:2 %}

        <article class="mv3 pb1" data-category="{% for cat in event.category %}{{ cat }}{% endfor %}">

          {% if event.service == "youtube" %}

            <div class="custom-constrain">

              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ event.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

          {% endif %}

          <h2 class="f6 normal custom-lh-title mv1 pa0">{{ event.title | strip_html }}</h2>

          <p class="mv1 f6 custom-links">{% if event.description %}{{ event.description }}{% endif %}</p>

        </article>

      {% endfor %}

    <!-- </div> -->

    <p><a href="/events-activities/online-and-streamed-events/recordings/" class="blue b underline">All recordings &rarr;</a></p>

  </div>

</div>

<div class="bt b--moon-gray flex-l flex-wrap-l">

  <div class="w-50-l ph2 ph3-ns pv3">

    <h2 class="f5 custom-lh-title pa0 mt0 mb1">Ask a Librarian</h2>

    <p class="f6 mb0">Looking for trusted and reliable information on the internet? Our team of information professionals can point you in the right direction.</p>

    <p class="mb0"><a href="/research-and-reference/ask-a-librarian/" class="blue b underline">Ask a Librarian &rarr;</a></p>

  </div>

  <div class="w-50-l">

    <p class="mt0 mt3-l ph2 ph3-ns f7"><cite>Where can I get reliable coronavirus information?</cite> &middot; <cite>Which organisations can help my health or wellbeing?</cite> &middot; <cite>I need some ideas for entertaining my kids!</cite></p>

    <h3 class="f6 pa0 mt0 mb2 ph2 ph3-ns">Our librarians</h3>

    <div class="flex flex-wrap items-center pb3">

      <div class="ph2 ph3-ns">

        <img class="db center mw2 mw3-ns mv1" src="/images/staff/kd.png" alt="Kellie Dimmock">

        <p class="mb0 mt1 f7 lh-solid tc">Kellie Dimmock</p>

      </div>

      <div class="ph2 ph3-ns">

        <img class="db center mw2 mw3-ns mv1" src="/images/staff/sw.png" alt="Sanphra Wilmott">

        <p class="mb0 mt1 f7 lh-solid tc">Sanphra Willmott</p>

      </div>

      <div class="ph2 ph3-ns">

        <img class="db center mw2 mw3-ns mv1" src="/images/staff/kl.png" alt="Katharine Liu">

        <p class="mb0 mt1 f7 lh-solid tc">Katharine Liu</p>

      </div>

      <div class="ph2 ph3-ns">

        <img class="db center mw2 mw3-ns mv1" src="/images/staff/cc.png" alt="Charlotte Clark">

        <p class="mb0 mt1 f7 lh-solid tc">Charlotte Clark</p>

      </div>

    </div>

</div>

<div class="flex-l flex-wrap-l bt b--moon-gray">

  <div class="pv3 bg-near-white w-50-l bb b--moon-gray bn-l">

    <h2 class="f5 custom-lh-title mb2 pv0 ph2 ph3-ns">Ideas for parents in lockdown</h2>

    <a class="db" href="/events-activities/online-and-streamed-events/resources-and-recommendations/"><img class="db ma0 pa0" src="/images/events/at-home.jpg" alt="A man and teenager working at a table."></a>

    <p class="f6 ph2 ph3-ns mb1">Our recommended websites for ideas, resources and activities during lockdown.</p>

    <p class="ph2 ph3-ns mt0"><a href="/events-activities/online-and-streamed-events/resources-and-recommendations/" class="blue b underline">Parent recommendations &rarr;</a></p>

  </div>

  <div class="pv3 bg-near-white w-50-l bl-l b--moon-gray">

    <h2 class="f5 custom-lh-title mb2 pv0 ph2 ph3-ns">Arts & cultural activities</h2>

    <a class="db" href="/events-activities/online-and-streamed-events/arts-activities/"><img class="db ma0 pa0" src="/images/events/arts-image.jpg" alt="People watching a theatre event."></a>

    <p class="f6 ph2 ph3-ns mb1">Enjoy arts and cultural activities online with Suffolk’s cultural organisations.</p>

    <p class="ph2 ph3-ns mt0"><a href="/events-activities/online-and-streamed-events/arts-activities/" class="blue b underline">Arts & cultural activities &rarr;</a></p>

  </div>

</div>

<div class="flex-l flex-wrap-l justify-between-l pv3 ph2 ph3-ns bg-white bt b--moon-gray">

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/elibrary/" class="underline blue">eLibrary</a></h2>

    <p class="custom-lh-title f6">Free eBooks, magazines, eAudio, streaming</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/libraries/" class="underline blue">Libraries</a></h2>

    <p class="custom-lh-title f6">Opening times, facilities, events</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/mobiles-home/" class="underline blue">Mobiles &amp; home service</a></h2>

    <p class="custom-lh-title f6">Routes, timetables &amp; visits to houses and care homes</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/events-activities/" class="underline blue">Events &amp; activities</a></h2>

    <p class="custom-lh-title f6">Regular &amp; one off events, reading groups, courses</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/health/" class="underline blue">Health &amp; wellbeing</a></h2>

    <p class="custom-lh-title f6">Drop-ins, self-help reading, events, information</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/research-and-reference/" class="underline blue">Research &amp; reference</a></h2>

    <p class="custom-lh-title f6">Family history, encyclopedias, reference</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/help-with-reading-and-literacy/" class="underline blue">Reading &amp; literacy</a></h2>

    <p class="custom-lh-title f6">Helpful organisations, large print books</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/new-suggestions/" class="underline blue">Recommendations &amp; reviews</a></h2>

    <p class="custom-lh-title f6">Staff picks, reviews, articles, author interviews</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/parents-carers-and-children/" class="underline blue">Parents, carers &amp; children</a></h2>

    <p class="custom-lh-title f6">Family reading lists, children’s suggestions</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/help/" class="underline blue">Help using the service</a></h2>

    <p class="custom-lh-title f6">Charges, joining, printing &amp; copying</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/news/" class="underline blue">News</a></h2>

    <p class="custom-lh-title f6">Updates, press releases, blogs</p>

  </div>

  <div class="w-30-l">

    <h2 class="f5 custom-lh-title mt0 custom-mb-0"><a href="/about/jobs/" class="underline blue">Jobs</a></h2>

    <p class="custom-lh-title f6">Vacancies</p>

  </div>

</div>

<section class="pt4 pb3 pb4-ns ph2 ph3-ns">

    <h2 class="f5 pa0 ma0 mb2 pt2 pb2 bb b--light-gray">More</h2>

    <ul class="list ma0 mb2 pa0 f6">

        <li class="dib-ns mr3-ns"><a href="/about/" class="db pv1 underline blue">About us</a></li>
        <li class="dib-ns mr3-ns"><a href="/teachers-and-home-educators/" class="db pv1 underline blue">Teachers &amp; home educators</a></li>
        <li class="dib-ns mr3-ns"><a href="/work-and-benefits/" class="db pv1 underline blue">Work &amp; benefits</a></li>
        <li class="dib-ns mr3-ns"><a href="/business-and-room-hire/" class="db pv1 underline blue">Business &amp; room hire</a></li>
        <li class="dib-ns mr3-ns"><a href="/bloc/" class="db pv1 underline blue">BLOC youth arts programme</a></li>
        <li class="dib-ns mr3-ns"><a href="/music-and-drama" class="db pv1 underline blue">Music &amp; Drama Library</a></li>
        <li class="dib-ns mr3-ns"><a href="/volunteer" class="db pv1 underline blue">Volunteering</a></li>
        <li class="dib-ns mr3-ns"><a href="/support-us" class="db pv1 underline blue">Support us</a></li>

    </ul>

 </section>

 {% if page.featured-story %}

     {% assign featured_posts = site.pages | where: "featured", "true" %}

     {% for post in featured_posts limit:1 %}

       <div class="flex-l items-center-l white custom-bg-corporate pv3 pv0-l">

         <div class="w-50-l">

           <a href="{{ post.url }}"><img class="db pa0 ma0" src="{{ post.featured-image }}" alt="{{ post.featured-alt }}"></a>

         </div>

         <div class="w-50-l ph2 ph3-l pv3">

           <h2 class="mt0 mb1 custom-lh-title f3"><a class="custom-force-white" href="{{ post.url }}">{{ post.title }}</a></h2>

           <p class="ma0">{{ post.featured-excerpt }}</p>

           <p class="mb0 mt1 b"><a href="{{ post.url }}" class="underline custom-force-white">{{ post.featured-link-href-text }}</a></p>

         </div>

       </div>

     {% endfor %}

     {% elsif page.featured-story == false %}

     <div class="flex-l items-center-l white custom-bg-corporate pv3 pv0-l">

       <div class="w-50-l">

         <a href="/new-suggestions/"><img class="db pa0 ma0" src="/images/featured/tablet-reading.jpg" alt="Man reading from a tablet in a café"></a>

       </div>

       <div class="w-50-l ph2 ph3-l pv3">

         <h2 class="mt0 mb1 custom-lh-title f3"><a class="custom-force-white" href="/new-suggestions/">Recommendations &amp; reviews</a></h2>

         <p class="ma0">New books, audiobooks, music and DVDs, reviews, Meet the Author and more.</p>

         <p class="mb0 mt1 b"><a href="/new-suggestions/" class="underline custom-force-white">Get recommendations &amp; ideas &rarr;</a></p>

       </div>

     </div>

     {% endif %}
