---
layout: default
title: "Waveney Kids' Book Festival"
breadcrumb: events
---

<h1 class="{% include /c/page-title.html %} tc">Waveney Kids' Book Festival</h1>

<p class="tc b f4">Southwold and Beccles libraries, Southwold Arts Centre and Southwold Books 19 - 27 October 2019</p>

<p class="ma0 mb2">A variety of events and activities based around books, writing and drawing for children of all ages this October half-term. Confirmed authors and illustrators so far include Kevin Crossley-Holland, Polly Dunbar, A. L. Kennedy, James Mayhew & Zeb Soanes, Julia Jones, Lisa Thompson, Francesca Armour-Chelu, Sophie Green and Linda Davies.</p>

<img class="db center" src="/images/featured/featured-wkbf-370.jpg" alt="Waveney Kids' Book Festival logo">

<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <ul class="cf list ma0 pa0 mb2 tc custom-prose center">

    <li class="dib mr2 mr3-ns"><img src="/images/featured/featured-southwold-arts-centre.jpg" alt="Southwold Arts Centre" /></a></li>
    <li class="dib mr2 mr3-ns"><img src="/images/featured/featured-southwold-books.jpg" alt="Southwold Books" /></a></li>
    
  </ul>

</footer>
