---
layout: full-width
title: Get online
breadcrumb: events
jquery: true
dynatable: true
---
<p>All Suffolk Libraries offer free internet access and informal advice on getting online.</p>

<p>If you have a library card number and a PIN you can <a href="https://suffolk.getnetloan.co.uk/netloan/Login.aspx?ReturnUrl=%2fnetloan%2fHome.aspx">book a computer online</a>.</p>

<p>Some libraries offer free one to one computer and internet training:</p>

{% include dynatable-library-list.html %}

<table id="search-table" class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th data-dynatable-column="library">Library</th>
        <th data-dynatable-column="activity">Activity</th>
        <th data-dynatable-column="day">Day</th>
        <th data-dynatable-column="times">Times</th>
      </tr>
    </thead>
  <tbody>
    {% assign recurrents = site.recurrents | where: "recurrent-category", "computer-courses" | sort: 'recurrent-location' %}
    {% for recurrent in recurrents %}
    {% assign hide-event = false %}

    {% if recurrent.recurrent-expiry %}

        {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

        {% capture event-expiry-seconds %}{{recurrent.recurrent-expiry | date: '%s' }}{% endcapture %}

        {% capture event-expiry %}{{ event-expiry-seconds | divided_by: 86400}}{% endcapture %}

        {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

        {% if now-unix > event-expiry %}

            {% assign hide-event = true %}

        {% endif %}

    {% endif %}

    {% unless hide-event %}

    <tr>
      <td>{{ recurrent.recurrent-location-display-name }}</td>
      <td><a href="{{ recurrent.recurrent-location-display-url }}">{{ recurrent.recurrent-title }}</a></td>
      <td>{{ recurrent.recurrent-day }}</td>
      <td>{{ recurrent.recurrent-times }} </td>
    </tr>

    {% endunless %}
    {% endfor %}
  </tbody>
</table>

<script>
$('#search-table').dynatable({
  features: {
    paginate: false,
    recordCount: false,
    sorting: false
  },
  inputs: {
    queries: $('#search-library')
  }
});
</script>

<h2>More information for beginners</h2>

<ul>
<li><a href="http://www.bbc.co.uk/webwise/0/">BBC WebWise</a></li>
<li><a href="http://www.learnmyway.com/">Learn My Way</a></li>
<li>The <a href="http://www.leap.ac.uk/home">Leap</a> project—free and low cost courses in Suffolk.</li>
</ul>
