---
layout: default
title: "Children's events for April and Easter 2019"
breadcrumb: childrens-month
jquery: true
dynatable: true
event-filter: childrens-month
---

<h1 class="{% include /c/page-title.html %}">Children's events for April and Easter 2019</h1>

<div class="flex-ns flex-wrap-ns mb3">

    <div class="w-third-ns pr3-ns">

        <img src="/images/featured/childrens-month-web.jpg" alt="A mouse and a mole holding a Children's Month banner">

    </div>

    <div class="w-two-thirds-ns pl3-ns">

        <p class="mt0">April is <a href="/childrens-month">Children's Month</a> at Suffolk Libraries. We're celebrating everything we offer children and young adults including events and activities, brilliant books, and arts and wellbeing activities.</p>

    </div>

{% include filtered-events-table.html %}

<p><a href="/childrens-month/">&larr; Back to Children's Month 2019</a>
