---
layout: default
title: Summer holiday activity sessions
breadcrumb: events
---

<h1 class="{% include /c/page-title.html %} tc">Summer holiday activity sessions</h1>

<p>This page lists one-off activity sessions for children in our libraries over the summer holidays. New events are being announced all the time, so please keep checking back.</p>

<p>You can also find events on <a href="/libraries">individual libraries' pages</a> or check out our <a href="/events-activities/presents/">Suffolk Libraries Presents</a> screenings.</p>

<div class="custom-flex-container">

  {% assign summer_holiday_events = (site.events | where: "event-category", "summer-holidays" | sort: "event-start-date" ) %}

  {% for event in summer_holiday_events %}

    <div class="custom-flex-row pv2 bt b--light-gray">

        <section class="{% include /c/block.html %}">

          <a class="white custom-no-underline" href="{{ event.url }}"><img src="{{ event.event-image }}" class="custom-constrain-img" alt="{{ event.event-image-alt }}"></a>

          <p class="{% include /c/block-graf.html %}"><a class="blue" href="{{ event.url }}" class="blue">{{ event.name }}</a><br><a class="blue" href="/libraries/{{ event.location}}">{{ event.location-text}}</a>, {{ event.event-start-date | date: "%a %-d %b" }}, {{ event.event-start-time }}</p>

  {% endfor %}

</div>
