---
layout: full-width
title: Libraries
breadcrumb: home
sidebar: branches
map: true
jquery: true
---
<div class="{% include /c/generic-panel.html %}">

    <p class="ma0 pa0 f6"><strong><a class="blue custom-icon-info" href="/local/">Suffolk Libraries Local</a>:</strong> our pop-up library service.</p>

</div>

<section class="mb4">

    {% include map.html %}

</section>

<section id="library-list" class="pa2 pa3-ns bg-light-gray">

    <h2 class="clip">Libraries</h2>

    <div class="flex-l flex-wrap-l justify-between-l">

    {% for library in site.libraries %}

        <article class="c-w-46-l mb3 pa2 bg-white br2 ba b--near-white">

            <h3 class="f5 ma0 pa0 mb1"><a class="blue" href="{{ library.branch-unique-id }}">{{ library.branch-name }}</a></h3>

            <ul class="ma0 pa0 list f6">

              <li>{{ library.branch-address }}</li>
              {% if library.branch-post-code %}<li>{{ library.branch-post-code }}</li>{% endif %}
              {% if library.branch-tel %}<li class="pv1"><a class="blue" href="tel:{{ library.branch-tel | remove: " " }}">{{ library.branch-tel }}</a></li>{% endif %}

            </ul>

            {% if library.branch-room-hire %}<p class="mb0 mt1 f6"><a class="blue" href="{{ library.branch-room-hire }}">Room hire details</a>.</p>{% endif %}

        </article>

    {% endfor %}

</section>
