        <footer id="footer" class="pa2 pt3 pa3-ns pt4-ns bg-near-black white custom-underline">

            <div class="custom-max-width">

                <div class="cf mb4">

                    <div class="custom-g-l2 mb4 f6 f5-ns">

                        <section class="pb4">

                            <h2 class="{% include /c/nib-title.html %}">Do it online</h2>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb1-ns"><a href="https://suffolk.spydus.co.uk" class="link aqua">Search &amp; reserve</a></li>
                                <li class="mb2 mb1-ns"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="link aqua">Login &amp; renew</a></li>
                                <li class="mb2 mb1-ns"><a class="link aqua" href="/elibrary">eLibrary</a></li>
                                <li class="mb2 mb1-ns"><a href="/help/joining-the-library/" class="link aqua">Get a library card</a></li>

                            </ul>

                        </section>

                        <section class="pb4">

                          <h2 class="{% include /c/nib-title.html %}">Support your library</h2>

                          <p>Donations, volunteering or membership. You can support your library in many ways:</p>

                          <p class="ma0"><a class="b pa1 br2 bg-dark-green hover-bg-green white custom-no-underline" href="/support-us">Donate</a></p>

                        </section>

                    </div>

                    <div class="custom-g-l2 mb4 f6 f5-ns">

                        <section class="pb4">

                            <h2 class="{% include /c/nib-title.html %}">Contact us</h2>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb1-ns"><a href="tel:01473351249" class="link aqua">01473 351249</a></li>
            					<li class="mb2 mb1-ns"><a href="mailto:help@suffolklibraries.co.uk" class="link aqua">help@suffolklibraries.co.uk</a></li>

                            </ul>

                        </section>

                        <section class="pb4">

                            <h2 class="{% include /c/nib-title.html %}">Social media</h2>

                            <ul class="list pa0 ma0">

                      <li class="mb2 mb1-ns"><a href="http://facebook.com/suffolklibraries" class="link aqua">Facebook</a></li>
            					<li class="mb2 mb1-ns"><a href="http://twitter.com/suffolklibrary" class="link aqua">Twitter</a></li>
            					<li class="mb2 mb1-ns"><a href="https://instagram.com/suffolklibraries" class="link aqua">Instagram</a></li>
                      <li class="mb2 mb1-ns"><a href="https://www.linkedin.com/company/suffolk-libraries/" class="link aqua">LinkedIn</a></li>
            					<li class="mb2 mb1-ns"><a href="/newsletter" class="link aqua">Email newsletter</a></li>

                            </ul>

                        </section>

                    </div>

                    <div class="custom-g-l2 custom-g-nm mb4 f6 f5-ns">

                        <nav class="pb4" id="footer-nav">

                            <h2 class="{% include /c/nib-title.html %}">Sections</h2>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb1-ns"><a href="/elibrary/" class="link aqua">eLibrary</a></li>
                                <li class="mb2 mb1-ns"><a href="/libraries/" class="link aqua">Libraries</a></li>
                                <li class="mb2 mb1-ns"><a href="/mobiles-home/" class="link aqua">Mobile &amp; home service</a></li>
                                <li class="mb2 mb1-ns"><a href="/help/" class="link aqua">Help using the service</a></li>
                                <li class="mb2 mb1-ns"><a href="/new-suggestions/" class="link aqua">Recommendations &amp; reviews</a></li>
                                <li class="mb2 mb1-ns"><a href="/events-activities/" class="link aqua">Events &amp; activities</a></li>
                                <li class="mb2 mb1-ns"><a href="/research-and-reference/" class="link aqua">Research &amp; reference</a></li>
                                <li class="mb2 mb1-ns"><a href="/parents-carers-and-children/" class="link aqua">Parents, carers &amp; children</a></li>
                                <li class="mb2 mb1-ns"><a href="/teachers-and-home-educators/" class="link aqua">Teachers &amp; home educators</a></li>
                                <li class="mb2 mb1-ns"><a href="/health/" class="link aqua">Health &amp; wellbeing</a></li>
                                <li class="mb2 mb1-ns"><a href="/help-with-reading-and-literacy/" class="link aqua">Help with reading &amp; literacy</a></li>
                                <li class="mb2 mb1-ns"><a href="/work-and-benefits/" class="link aqua">Work &amp; benefits</a></li>
                                <li class="mb2 mb1-ns"><a href="/business-and-room-hire/" class="link aqua">Business &amp; room hire</a></li>
                                <li class="mb2 mb1-ns"><a href="/bloc/" class="link aqua">BLOC</a></li>
                                <li class="mb2 mb1-ns"><a href="/music-and-drama/" class="link aqua">Music &amp; Drama Library</a></li>
                                <li class="mb2 mb1-ns"><a href="/news/" class="link aqua">News</a></li>
                                <li class="mb2 mb1-ns"><a href="/about/jobs/" class="link aqua">Jobs</a></li>
                                <li class="mb2 mb1-ns"><a href="/volunteer/" class="link aqua">Volunteering</a></li>
                                <li class="mb2 mb1-ns"><a href="/about/" class="link aqua">About us</a></li>

                            </ul>

                        </nav>

                    </div>

                </div> <!-- end .cf -->

                <section class="pb4 f6 f5-ns">

                    <h2 class="{% include /c/nib-title.html %}">Privacy &amp; cookies</h2>

                    <ul class="list pa0 ma0">

                          <li class="mb2 mb1-ns">Find out what cookies we use and how we use your data: <a href="/help/privacy-and-cookies/" class="aqua">our privacy policies</a>.</li>

                          <li class="mb2 mb1-ns"><a href="/about/jobs/privacy-notice-for-job-applicants/" class="aqua">Privacy notice for job applicants</a></li>

                    </ul>

                </section>

                <div class="pb4 f6 f5-ns">

                  <p class="ma0 light-gray">Suffolk Libraries HMRC charity number is XT34476 and our registered company number is IP031542.</p>

                </div>



        </div>

        </footer>

        {% include scripts.html %}

        {% if page.map %}

        <script src="/js/jquery.address.js"></script>
        <script src="/js/sl_maps_lib.js"></script>
        <script>
          //<![CDATA[
            $(window).resize(function () {
              var h = $(window).height(),
                offsetTop = 105; // Calculate the top offset

              $('#map_canvas').css('height', (h - offsetTop));
            }).resize();

            $(function() {
              var myMap = new MapsLib({
                googleApiKey:       "AIzaSyCzv2ep-hLeNxtPLTejxwBYmqZgXbE6faE",
                locationColumn:     "Address",
                map_center:         [52.188902, 0.997712],
                locationScope:      "suffolk",
                searchRadius:       8047,
                defaultZoom:        10,
                addrMarkerImage:    "/images/icons/blue-pushpin.png"
              });

              var autocomplete = new google.maps.places.Autocomplete(document.getElementById('search_address'));

              $(':checkbox').click(function(){
                myMap.doSearch();
              });

              $(':radio').click(function(){
                myMap.doSearch();
              });

              $('#search_radius').change(function(){
                myMap.doSearch();
              });

              $('#search-button').click(function(){
                myMap.doSearch();
              });

              $('#find_me').click(function(){
                myMap.findMe();
                return false;
              });

              $('#reset').click(function(){
                myMap.reset();
                return false;
              });


            });
          //]]>
        </script>

        {% endif %}

        {% if page.typewriter %}
        <script src="/js/typewriter-core.js"></script>
        <script>
          const typewriter = new Typewriter('#typewriter', {
            loop: false,
          });
          typewriter.typeString('Prood')
            .pauseFor(500)
            .deleteChars(2)
            .typeString('ud Suffolk is a react')
            .pauseFor(500)
            .deleteChars(5)
            .typeString('creative…')
            .pauseFor(2500)
            .start();
        </script>
        {% endif %}

        {% if page.particles %}
        <script src="/js/particles.min.js"></script>
        <script>/* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', '/js/particles.json', function() {
          console.log('callback - particles.js config loaded');
        });</script>
        {% endif %}

        {% if page.awesomplete %}
        <script src="/js/awesomplete.min.js" async></script>
        {% endif %}

        {% if page.breadcrumb == 'branch-room-hire' %}
        <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "MeetingRoom",
              "name": "{{ page.title }}"
            }
        </script>
        {% endif %}

    </body>

</html>
