<div class="ph2 ph3-ns pt2 pb0 center custom-bg-corporate white">

    <div class="custom-max-width">

        <h1 class="f4 f2-ns pa0 ma0 mb1 mb2-ns tc-ns">Welcome to Suffolk Libraries</h1>

        <ul class="f6 f5-ns tl tc-ns list ma0 pa0 mb2 mb3-ns custom-underline">

            <li class="dib-ns mh2-ns pv1 pv0-ns custom-icon-phone-white"><a class="white" href="tel:01473351249">01473 351249</a></li>
            <li class="dib-ns mh2-ns custom-icon-email-white"><a class="white" href="mailto:help@suffolklibraries.co.uk">help@suffolklibraries.co.uk</a></li>

        </ul>

        <div class="flex-l flex-row-reverse-l">

            <section class="w-third-l pl3-l">

                <div class="bg-light-gray dark-gray pa2 pa3-ns">

                    <h2 class="f3 ma0 pa0 mb1">Do it online</h2>

                    <ul class="list pa0 ma0 mb2 bb b--white">

                        <li class="bt b--white custom-icon-search"><a href="https://suffolk.spydus.co.uk/" class="pv2 db dark-gray hover-custom-corporate">Search &amp; reserve for collection</a></li>
                        <li class="bt b--white custom-icon-lock"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="pv2 db dark-gray hover-custom-corporate">Login to your account &amp; renew</a></li>
                        <li class="bt b--white custom-icon-card"><a href="/help/joining-the-library/" class="pv2 db dark-gray hover-custom-corporate">Get a library card</a></li>
                        <li class="bt b--white custom-icon-pc"><a href="https://suffolk.getnetloan.co.uk/netloan/Home.aspx" class="pv2 db dark-gray hover-custom-corporate">Book a computer</a></li>

                    </ul>

                </div>

            </section>

            <section class="w-two-thirds-l pr3-l">

                <div class="bg-light-gray dark-gray pa2 pa3-ns">

                    <h2 class="f3 ma0 pa0 mb1">Information</h2>

                    <div class="flex-l flex-wrap-l">

                        <div class="w-50-l pr3-l">

                            <ul class="list pa0 ma0 bb-ns b--white">

                                <li class="bt b--white"><a href="/elibrary/" class="pv2 db dark-gray hover-custom-corporate">eLibrary</a></li>
                                <li class="bt b--white"><a href="/libraries/" class="pv2 db dark-gray hover-custom-corporate">Libraries</a></li>
                                <li class="bt b--white"><a href="/mobiles-home/" class="pv2 db dark-gray hover-custom-corporate">Mobiles &amp; home service</a></li>
                                <li class="bt b--white"><a href="/events-activities/" class="pv2 db dark-gray hover-custom-corporate">Events &amp; activities</a></li>
                                <li class="bt b--white"><a href="/research-and-reference/" class="pv2 db dark-gray hover-custom-corporate">Research &amp; reference</a></li>
                                <li class="bt b--white"><a href="/help-with-reading-and-literacy/" class="pv2 db dark-gray hover-custom-corporate">Help with reading &amp literacy</a></li>


                            </ul>

                        </div>

                        <div class="w-50-l pl3-l">

                            <ul class="list pa0 ma0 mb2 mb0-ns bb b--white">

                                <li class="bt b--white"><a href="/new-suggestions/" class="pv2 db dark-gray hover-custom-corporate">Recommendations &amp; reviews</a></li>
                                <li class="bt b--white"><a href="/parents-carers-and-children/" class="pv2 db dark-gray hover-custom-corporate">Parents, carers &amp; children</a></li>
                                <li class="bt b--white"><a href="/health/" class="pv2 db dark-gray hover-custom-corporate">Health &amp; wellbeing</a></li>
                                <li class="bt b--white"><a href="/help/" class="pv2 db dark-gray hover-custom-corporate">Help using the service</a></li>
                                <li class="bt b--white"><a href="/news" class="pv2 db dark-gray hover-custom-corporate">News</a></li>
                                <li class="bt b--white"><a href="/about/jobs/" class="pv2 db dark-gray hover-custom-corporate">Jobs</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </section>

        </div>

    </div>

</div>
