<div class="ph2 ph3-ns pt2 pb0 center custom-bg-corporate white">

    <div class="custom-max-width">

        <div class="flex-l items-center-l">

          <div class="w-two-thirds-l pr3-l">

            <h1 class="f4 f3-ns pa0 ma0 mb1">Welcome to Suffolk Libraries</h1>

            <p class="mt0 mb1 f6 f5-ns">Borrowing, events, wellbeing. Making life better.</p>

            <ul class="f6 f5-ns list ma0 pa0 mb2 mb3-ns custom-underline">

                <li class="dib-ns mr2-ns"><a class="pv1 custom-icon-phone-white white" href="tel:01473351249">01473 351249</a></li>
                <li class="dib-ns"><a class="custom-icon-email-white white" href="mailto:help@suffolklibraries.co.uk">help@suffolklibraries.co.uk</a></li>

            </ul>

          </div>

          <div class="w-third-l pl3-l">

              <div class="bg-light-gray dark-gray pa2 pa3-ns">

                  <h2 class="f4 ma0 pa0 mb1">Do it online</h2>

                  <ul class="list pa0 ma0 mb2 bb b--white f6 custom-visited">

                      <li class="bt b--white custom-icon-search"><a href="https://suffolk.spydus.co.uk/" class="pv1 db">Search &amp; reserve for collection</a></li>
                      <li class="bt b--white custom-icon-lock"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="pv1 db">Login to your account &amp; renew</a></li>
                      <li class="bt b--white custom-icon-card"><a href="/help/joining-the-library/" class="pv1 db">Get a library card</a></li>
                      <li class="bt b--white custom-icon-pc"><a href="https://suffolk.getnetloan.co.uk/netloan/Home.aspx" class="pv1 db">Book a computer</a></li>

                  </ul>

              </div>

            </div>

          </div>

          <!-- <section class="w-two-thirds-l pr3-l">

              <div class="bg-light-gray dark-gray pa2 pa3-ns">

                  <h2 class="f3 ma0 pa0 mb1">Information</h2>

                  <div class="flex-l flex-wrap-l">

                      <div class="w-50-l pr3-l">

                          <ul class="list pa0 ma0 bb-ns b--white">

                              <li class="bt b--white"><a href="/elibrary/" class="pv2 db dark-gray hover-custom-corporate">eLibrary</a></li>
                              <li class="bt b--white"><a href="/libraries/" class="pv2 db dark-gray hover-custom-corporate">Libraries</a></li>
                              <li class="bt b--white"><a href="/mobiles-home/" class="pv2 db dark-gray hover-custom-corporate">Mobiles &amp; home service</a></li>
                              <li class="bt b--white"><a href="/events-activities/" class="pv2 db dark-gray hover-custom-corporate">Events &amp; activities</a></li>
                              <li class="bt b--white"><a href="/research-and-reference/" class="pv2 db dark-gray hover-custom-corporate">Research &amp; reference</a></li>
                              <li class="bt b--white"><a href="/help-with-reading-and-literacy/" class="pv2 db dark-gray hover-custom-corporate">Help with reading &amp literacy</a></li>


                          </ul>

                      </div>

                      <div class="w-50-l pl3-l">

                          <ul class="list pa0 ma0 mb2 mb0-ns bb b--white">

                              <li class="bt b--white"><a href="/new-suggestions/" class="pv2 db dark-gray hover-custom-corporate">Recommendations &amp; reviews</a></li>
                              <li class="bt b--white"><a href="/parents-carers-and-children/" class="pv2 db dark-gray hover-custom-corporate">Parents, carers &amp; children</a></li>
                              <li class="bt b--white"><a href="/health/" class="pv2 db dark-gray hover-custom-corporate">Health &amp; wellbeing</a></li>
                              <li class="bt b--white"><a href="/help/" class="pv2 db dark-gray hover-custom-corporate">Help using the service</a></li>
                              <li class="bt b--white"><a href="/news" class="pv2 db dark-gray hover-custom-corporate">News</a></li>
                              <li class="bt b--white"><a href="/about/jobs/" class="pv2 db dark-gray hover-custom-corporate">Jobs</a></li>

                          </ul>

                      </div>

                  </div>

              </div>

          </section> -->

        </div>

    </div>
