<div class="ph2 ph3-ns pt2 pb0 center custom-bg-corporate white">

    <div class="custom-max-width">

        <div class="flex-l items-center-l">

          <div class="w-two-thirds-l pr3-l">

            <h1 class="f4 f3-ns pa0 ma0 mb1">Welcome to Suffolk Libraries</h1>

            <p class="mt0 mb1 f6 f5-ns">Borrowing, events, wellbeing. Making life better.</p>

            <ul class="f6 f5-ns list ma0 pa0 mb2 mb3-ns">

                <li class="dib-ns mr2-ns"><a class="pv1 custom-icon-phone-white white underline" href="tel:01473351249">01473 351249</a></li>
                <li class="dib-ns"><a class="custom-icon-email-white white underline" href="mailto:help@suffolklibraries.co.uk">help@suffolklibraries.co.uk</a></li>

            </ul>

          </div>

          <div class="w-third-l pl3-l">

              <div class="bg-light-gray dark-gray pa2 pa3-ns">

                  <h2 class="f4 ma0 pa0 mb1">Coronavirus info</h2>

                  <p class="f6">Due to the coronavirus situation all library buildings are closed. The home and mobile library services have been suspended. <br><a href="/coronavirus/" class="b underline custom-corporate">Coronavirus updates &rarr;</a></p>

              </div>

            </div>

          </div>

        </div>

    </div>
