{% if page.excerpt %}

    <p class="{% include /c/page-excerpt.html %}">{{ page.excerpt }}</p>

{% endif %}

{% if page.sort == 'alphabetical' %}

  {% assign posts = site.categories.[page.category] sort: "title" | reverse %}

{% else %}

  {% assign posts = site.categories.[page.category] %}

{% endif %}

{% for post in posts %}

  {% if post.expiry-date %}

        {% include capture-now.html %}

        {% if now-unix <= expires-date %}

          {% include post-listing-entry.html %}

        {% endif %}

    {% else %}

        {% include post-listing-entry.html %}

    {% endif %}

{% endfor %}

{% if posts-check != true %}

    <p>Unfortunately there are currently no {{ page.category  | downcase }}.</p>

{% endif %}
