<div class="flex-l{% if include.layout-reverse %} flex-row-reverse-l{% endif %} items-center-l {{ include.color }} {{ include.bg-color }} pv3 pv0-l">

  <div class="w-50-l">

    {% if include.link %}<a href="{{ include.link }}">{% endif %}<img class="db pa0 ma0" src="/images/{{ include.src }}" alt="{{ include.alt }}">{% if include.link %}</a>{% endif %}

  </div>

  <div class="w-50-l ph2 ph3-l pv3">

    <h2 class="mt0 mb1 custom-lh-title {% if include.small-text %}f4{% else %}f3{% endif %}{% if include.center %} tc{% endif %}">{% if include.link %}<a href="{{ include.link }}" class="{% if include.color %}{{ include.color }} {% else %}dark-gray {% endif %}no-underline">{% endif %}{{ include.title }}{% if include.link %}</a>{% endif %}</h2>

    <p class="{% if include.small-text %}f6 {% endif %}ma0">{{ include.text }}</p>

    {% if include.link %}<p class="{% if include.small-text %}f6 {% endif %}mb0 mt1 b{% if include.center %} tc{% endif %}"><a href="{{ include.link }}" class="underline {% if include.link-color %}{{ include.link-color }}{% else %}blue{% endif %}{% if include.link-hover-color %} hover-{{ include.link-hover-color }}{% endif %}">{% if include.link-text %}{{ include.link-text }}{% endif %}</a></p>{% endif %}

  </div>

</div>
