---
layout: sidebar-right
title: "Entertain your children with events across our libraries this half-term"
date: 2017-10-16
author: alice-violett
category: news
excerpt: "Wondering what to do this half-term? We've got entertainment and activities for children across our libraries."
breadcrumb: news
---

<p>Wondering what to do this half-term? We've got entertainment and activities for children across our libraries.</p>

<p>As it's Halloween the following week, we've naturally organised a lot of spooky craft sessions and activities. We've also got animal encounters, craft sessions, film screenings, Lego building and science experiences.</p>

<p>Half-term is going to be particularly lively at Lowestoft Library, where lots of <a href="/news/flipside-lowestoft/">Flipside Festival</a> events for children are taking place from 24-26 October.

<p>Older children might be interested in the <a href="/events/ipswich-2017-10-20-history-of-magic/">Harry Potter: A History of Magic display</a>, which is at Ipswich County Library from Friday 20 October, as well as our livestream of the British Library's <a href="/events/ipswich-2017-10-29-astronomy-lecture/">Hogwarts Curriculum Lecture: Astronomy with Maggie Aderin-Pocock</a> at Ipswich County Library on Sunday 29 October.</p>

<p>See below for our full list of half-term events.</p>

{% assign half-term-events = (site.events | where: "event-category", "half-term" | sort: "event-start-date" ) %}

{% for event in half-term-events %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span>

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}
