---
layout: sidebar-right
title: "October half-term events at Suffolk Libraries"
date: 2018-10-11
author: alice-violett
category: news
excerpt: "We've got all sorts of exciting events and activities for children across our libraries this half-term."
breadcrumb: news
featured-image: "/images/featured/featured-craft.jpg"
featured-alt: "Children's craft materials"
featured-excerpt: "We've got all sorts of exciting events and activities for children and young people across our libraries this half-term."
featured-link-text: "Find a half-term event"
featured: true
jquery: true
dynatable: true
---

<p>Exciting events and activities for children and young people across our libraries this half-term.</p>

<h2>Highlights</h2>

<ul>

    <li>The <strong><a href="/news/sutton-hoo/">Sutton Hoo roadshow</a></strong> will be in full swing, with staff from the National Trust site fascinating visitors with artefacts, information and activities at several libraries.</li>
    <li>Author visits and craft sessions aplenty, including <strong>Viking and Anglo-Saxon crafts at Beccles Library</strong> and <strong>Halloween-themed</strong> activities towards the end of the week.</li>
    <li><strong>Young people can help shape our new arts programme</strong> - <a href="/bloc/">BLOC</a> at <a href="/news/bloc-news/youth-council-taster-days/">Youth Council taster days</a> in Ipswich, Lowestoft and Bury St Edmunds.</li>
    <li>Lavenham and Lowestoft libraries festival events. Lavenham Library is part of Lavenham Village Hall, the venue for a number of <strong><a href="http://www.lavenhamliteraryfestival.co.uk/children-festival-2018">Lavenham Children's Book Festival</a></strong> events, while Lowestoft Library is hosting several activities and a chill out zone for the first ever <strong><a href="https://www.facebook.com/NessFestLowestoft/">NessFest Youth Arts Festival</a></strong> for 11-19 year-olds.</li>

</ul>

<h2>Find an event at your library</h2>

{% include dynatable-library-list.html %}

<table id="search-table" class="pure-table pure-table-bordered">

    <thead>
        <tr>
            <th data-dynatable-column="event">Event</th>
            <th data-dynatable-column="library">Library</th>
            <th data-dynatable-column="date">Date</th>
            <th data-dynatable-column="time">Time</th>
        </tr>
    </thead>

    <tbody>

{% assign half-term-events = site.events | where: "event-category", "half-term" | sort: "event-start-date" %}

{% for event in half-term-events %}

{% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

{% if event.event-end-date %}

    {% capture event-time-seconds %}{{event.event-end-date | date: '%s' }}{% endcapture %}

{% else %}

    {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

{% endif %}

{% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

{% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

{% if now-unix <= event-time %}

    <tr>

        <td><a href="{{ event.url }}">{{ event.name }}</a></td>
        <td>{{ event.location-text }}</td>
        <td>{{ event.event-start-date | date: "%a %-d %b, %Y" }}{% if event.event-end-date %} &#8211; {{ event.event-end-date | date: "%a %-d %b, %Y" }}{% endif %}</td>
        <td>{{ event.event-start-time }}</td>

    </tr>

{% endif %}

{% endfor %}

</tbody>

</table>

<script>
$('#search-table').dynatable({
features: {
paginate: false,
recordCount: false,
sorting: false
},
inputs: {
queries: $('#search-library')
}
});
</script>
