---
layout: sidebar-right
title: "Magical events for Harry Potter Book Night"
date: 2018-01-24
author: james-powell
category: news
excerpt: 'Several libraries in the county are holding events for this year’s Harry Potter Book Night on Thursday 1 February.'
breadcrumb: news
---

<p>Several libraries in the county are holding events for this year’s Harry Potter Book Night on Thursday 1 February.</p>

<p>Harry Potter Book Night is the most magical night of the year. This year's theme is 'Fantastic Beasts', in honour of the amazing creatures at the very heart of the Harry Potter series.</p>

<p>Our events at Aldeburgh Library, Gainsborough Community Library, Lowestoft Library and Stowmarket Library are part of a wider 'Beasts among the Bookshelves' initiative from The British Library and publishers Bloomsbury. They will be joining libraries around the country who are part of The British Library's Living Knowledge Network in welcoming local storytellers to read extracts from the Harry Potter books. They will also be sharing wonderful facts about the creatures from the stories and quizzing children on their knowledge of them.</p>

<p>Sophie Green, stock librarian at Suffolk Libraries, said: “Harry Potter Book Night is a chance for fans of all ages to celebrate the J.K. Rowling books and also a wonderful opportunity to encourage a new generation of readers who have still to discover them. We hope plenty of young wizards, witches and muggles come along and enjoy the events taking place in our libraries.”</p>

<p>Sudbury Library are holding their Harry Potter events a week after Harry Potter Book Night, on Friday 9 and Saturday 10 February. A full list of our Harry Potter Book Night events follows.</p>

{% assign harry-potter-events = (site.events | where: "event-category", "harry-potter" | sort: "event-start-date" ) %}

{% for event in harry-potter-events %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span>

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}
