---
layout: sidebar-right
title: "Christmas opening times and events at Suffolk Libraries"
date: 2018-12-18
author: alice-violett
category: news
excerpt: "We're holding lots of exciting events across the county before our libraries close for the festive period."
breadcrumb: news
featured-image: "/images/featured/featured-lowestoft-xmas.jpg"
featured-alt: "Father Christmas reading a book at Lowestoft Library"
jquery: true
dynatable: true
event-filter: xmas
---

{% include /c/figure.html src="/images/featured/featured-lowestoft-xmas.jpg" alt="Father Christmas reading a book at Lowestoft Library" caption="Father Christmas reading a book at Lowestoft Library" %}

<p>All of our libraries are closed on <strong>24, 25 and 26 December 2018</strong> and <strong>1 January 2019</strong>. Check <a href="/libraries/">your local library's page</a> for individual opening times.</p>

<p>Our libraries will be open as normal on Monday 31 December with the exception of <a href="/libraries/bury-st-edmunds-library/">Bury St Edmunds Library</a>, <a href="/libraries/gainsborough-community-library/">Gainsborough Community Library</a>, <a href="/libraries/ipswich-county-library/">Ipswich County Library</a>, <a href="/libraries/lowestoft-library/">Lowestoft Library</a>, which will be <strong>closing at 5pm</strong>.</p>

<p>In the meantime, our libraries are holding a variety of seasonal events, including:</p>

<ul>
    <li>Christmas fairs</li>
    <li>Visits from Father Christmas</li>
    <li>Craft sessions for adults and children</li>
    <li>Carol singing and parties</li>
</ul>

<h2>Find a Christmas event at your library</h2>

{% include filtered-events-table.html %}
