---
layout: sidebar-right
title: "Suffolk Libraries to celebrate Elmer Day"
date: 2018-05-03
author: james-powell
category: news
excerpt: "Several libraries in Suffolk are holding colourful events to celebrate Elmer the Patchwork Elephant this month."
breadcrumb: news
---

<img src="/images/featured/featured-elmer.jpg" alt="Elmer the Patchwork Elephant">

<p>Several libraries in Suffolk are holding colourful events to celebrate Elmer the Patchwork Elephant this month.</p>

<p>Elmer Day celebrates the ongoing popularity of the colourful elephant who has featured in over 30 books by David McKee. Elmer Day is also a celebration of reading, elephants and accepting yourself and others. Activities will be taking place across the country with children being encouraged to dress up in bright colours.</p>

<p>Ipswich County Library's celebration will be extra special as St Elizabeth Hospice are lending them their original Elmer the Patchwork Elephant sculpture from Friday 25 May - Wednesday 30 May, when he moves on to the Suffolk Show.</p>

<p>His appearance comes ahead of 'Elmer's Big Parade Suffolk' fundraising art trail in 2018-19. Following the huge success of 'Pigs Gone Wild' in 2016, the hospice are teaming up with Wild in Art and Andersen Press to create a special trail in Ipswich featuring 50 full-size statues of Elmer, and around 100 'young Elmers'. The 2019 event coincides with the 30th anniversary of both St Elizabeth Hospice and the first Elmer book.</p>

<p>Businesses who are interested in sponsoring the hospice's last few statues can find out more on the <a href="http://www.elmersbigparadesuffolk.co.uk/partners-and-sponsors">Partners and Sponsors page of the Elmer's Big Parade website</a>. The hospice are also encouraging schools and youth groups to get involved with the campaign's learning programme and decorate their own 'young Elmers'. You can find out more on the <a href="http://elmersbigparadesuffolk.co.uk/learning">Learning page of the Elmer's Big Parade website</a>.</p>

<p>The <a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/ENQ/OPAC/BIBENQ?BRN=1765621">first Elmer book</a> was published in 1989. It was inspired by an incident where McKee’s mixed-race daughter was verbally abused. His stories promote acceptance both in other people and ourselves and have sold millions of copies round the world.</p>

<p>Elmer Day takes place on Saturday 26 May, with many libraries holding events on or around this date:</p>

{% assign elmer-events = site.events | where: "event-category", "elmer-day" | sort: "event-start-date" %}

{% for event in elmer-events %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> - {{ event.event-end-date | date: "%a %-d %b" }} <span>{{ event.event-start-time }}</span>

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}
