---
layout: sidebar-right
title: "Fun Palace events to kick off National Libraries Week"
date: 2018-10-02
author: james-powell
category: news
excerpt: "Several Suffolk libraries will be hosting Fun Palaces this weekend (Saturday 6 and Sunday 7 October)."
breadcrumb: news
---

<p>Several Suffolk libraries will be hosting Fun Palaces this weekend (Saturday 6 and Sunday 7 October).</p>

<p>This is the second year Suffolk Libraries is getting involved in Fun Palace weekend. Fun Palaces are the brainchild of author Stella Duffy, who strongly believes that in lots of different ways “everyone is an artist and everyone is a scientist and we are all geniuses”.</p>

<p>Each October, community venues across the UK and beyond hold Fun Palace events to enable everyone to explore their creative and scientific side and also have lots of fun. Events round the country have ranged from simply showing children how to make their own slime to orchestrating pop-up community choirs.</p>

<p>Fun Palace weekend also takes place just before National Libraries Week 2018 which runs from Monday 8 to Saturday 13 October. Fun Palaces help to celebrate culture in the community with a wide range of fun activities – and everyone is invited!</p>

<p>The following events are taking place at, or being hosted by, our libraries:</p>

{% assign fun-events = site.events | where: "event-category", "fun-palaces" | sort: "event-start-date" %}

{% for event in fun-events %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> - {{ event.event-end-date | date: "%a %-d %b" }} <span>{{ event.event-start-time }} - {{ event.event-end-time }}</span>

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}
