---
layout: sidebar-right
title: "February half-term events at Suffolk Libraries"
date: 2018-02-05
author: alice-violett
category: news
excerpt: "Wondering what to do this half-term? We've got children's activities planned across our libraries."
breadcrumb: news
---

<p>Wondering what to do this half-term? We've got children's activities planned across our libraries.</p>

<p>Children are invited to make balloon models, lanterns, Lego structures Valentine's-themed crafts and more. They can hear expert storytellers spinning their yarns and make new scientific discoveries.</p>

<p>See below for our full list of half-term events.</p>

{% assign half-term-events = (site.events | where: "event-category", "half-term" | sort: "event-start-date" ) %}

{% for event in half-term-events %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> - {{ event.event-end-date | date: "%a %-d %b" }} <span>{{ event.event-start-time }}</span>

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}
