.custom-bg-corporate {
    background-color: $corporate;
}

.custom-bg-corporate-green {
  background-color: $corporate-green;
}

.custom-corporate {
  color: $corporate;
}

a.hover-custom-corporate:hover,
a.hover-custom-corporate:active,
a.hover-custom-corporate:focus {
  color: $corporate;
}

.custom-corporate-green {
  color: $corporate-green;
}

.custom-links a {
  color: #005EA5;
}

.custom-link-colour {
  color: #00E;
}

.custom-corporate-duck-blue {
  color: $corporate-duck-blue;
}

.custom-bg-corporate-duck-blue {
  background-color: $corporate-duck-blue;
}
