@media screen, projection {

.custom-bg-woodbridge {
    background-image: url('/images/sld/bg-woodbridge.jpg');
    background-repeat: no-repeat;
}

.custom-bg-suffolk-show {
    background-image: url('/images/suffolk-show/bg-baby-bounce.jpg');
    background-repeat: no-repeat;
}

}
