@media screen, projection {

.c-w-17 {
    width: 17%;
}

.c-w-17-ns {
    @media (min-width: 30em) {
        width: 17%;
    }
}

.c-w-17-m {
    @media (min-width: 30em) and (max-width: 60em) {
        width: 17%;
    }
}

.c-w-17-l {
    @media (min-width: 60em) {
        width: 17%;
    }
}

.c-w-46-l {
    @media (min-width: 60em) {
        width: 46%;
    }
}


}
