@media screen, projection {

.custom-bg-icl {
    background-image: url('/images/featured/icl.jpg');
    background-repeat: no-repeat;
}

.custom-bg-woodbridge {
    background-image: url('/images/sld/bg-woodbridge.jpg');
    background-repeat: no-repeat;
}

}
