---
layout: default
title: "Slaughter in Southwold"
breadcrumb: events
---

<h1 class="{% include /c/page-title.html %} tc">Slaughter in Southwold</h1>

<p class="tc b f4">Saturday 16 and Sunday 17 June 2018, Southwold Arts Centre</p>

<p class="tc ma0 mb2">Join us for a feast of author talks, activities, food and film screenings. Tickets on sale from <a href="/libraries/southwold-library">Southwold Library</a> and <a href="https://www.ticketsource.co.uk/slaughterinsouthwold">Ticketsource</a> from 1 April. £5 per author talk, £15 for a day pass, or £30 for the weekend.</p>

<h2>Author talks - Saturday 16 June</h2>

<div class="custom-prose custom-lh-copy pb4 mt2">

  {% assign current_event_list = site.events | where: "event-category", "slaughter-2018-talk-sat" | sort: 'event-start-time' %}

  {% for current_event in current_event_list %}

      <article class="{% include /c/slot.html %}">

          <h3 class="{% include /c/slot-title.html %}"><a class="blue" href="{{ current_event.url }}" class="blue">{{ current_event.name | remove: "Slaughter in Southwold: " }}</a></h1>

          <p class="{% include /c/page-meta.html %} mb0">{{ current_event.event-start-time }}{% if current_event.event-end-time %}&#8211;{{ current_event.event-end-time }}{% endif %}</p>

          <div class="cf{% if current_event.event-image %} pt3{% endif %}">

              {% if current_event.event-image %}

                <div class="custom-g-l2">

                    <img src="/images/{{ current_event.event-image }}" alt="{{ current_event.name }}" class="db center br-100">

                </div>

              {% endif %}

              {% if current_event.event-image %}<div class="custom-g-l4 custom-g-nm">{% endif %}

              <div class="custom-prose custom-lh-copy">

                  {{ current_event.excerpt }}

              </div>

               {% if current_event.event-image %}</div>{% endif %}

          </div>

      </article>

  {% endfor %}

</div>

<h2>Author Talks - Sunday 17 June</h2>

<div class="custom-prose custom-lh-copy pb4 mt2">

  {% assign current_event_list = site.events | where: "event-category", "slaughter-2018-talk-sun" | sort: 'event-start-time' %}

  {% for current_event in current_event_list %}

      <article class="{% include /c/slot.html %}">

          <h3 class="{% include /c/slot-title.html %}"><a class="blue" href="{{ current_event.url }}" class="blue">{{ current_event.name | remove: "Slaughter in Southwold: " }}</a></h1>

          <p class="{% include /c/page-meta.html %} mb0">{{ current_event.event-start-time }}{% if current_event.event-end-time %}&#8211;{{ current_event.event-end-time }}{% endif %}</p>

          <div class="cf{% if current_event.event-image %} pt3{% endif %}">

              {% if current_event.event-image %}

                <div class="custom-g-l2">

                    <img src="/images/{{ current_event.event-image }}" alt="{{ current_event.name }}" class="db center br-100">

                </div>

              {% endif %}

              {% if current_event.event-image %}<div class="custom-g-l4 custom-g-nm">{% endif %}

              <div class="custom-prose custom-lh-copy">

                  {{ current_event.excerpt }}

              </div>

               {% if current_event.event-image %}</div>{% endif %}

          </div>

      </article>

  {% endfor %}

</div>

<h2>Activities</h2>

<div class="custom-prose custom-lh-copy pb4 mt2">

  {% assign current_event_list = site.events | where: "event-category", "slaughter-2018-activity" | sort: 'event-start-date' %}

  {% for current_event in current_event_list %}

      <article class="{% include /c/slot.html %}">

          <h3 class="{% include /c/slot-title.html %}"><a class="blue" href="{{ current_event.url }}" class="blue">{{ current_event.name | remove: "Slaughter in Southwold: " }}</a></h1>

          <p class="{% include /c/page-meta.html %} mb0">{{ current_event.event-start-date | date: "%a %-d %b" }}, {{ current_event.event-start-time }}{% if current_event.event-end-time %}&#8211;{{ current_event.event-end-time }}{% endif %}</p>

          <div class="cf{% if current_event.event-image %} pt3{% endif %}">

              {% if current_event.event-image %}

                <div class="custom-g-l2">

                    <img src="/images/{{ current_event.event-image }}" alt="{{ current_event.name }}" class="db center br-100">

                </div>

              {% endif %}

              {% if current_event.event-image %}<div class="custom-g-l4 custom-g-nm">{% endif %}

              <div class="custom-prose custom-lh-copy">

                  {{ current_event.excerpt }}

              </div>

               {% if current_event.event-image %}</div>{% endif %}

          </div>

      </article>

  {% endfor %}

</div>

<h2>Food</h2>

<div class="custom-prose custom-lh-copy pb4 mt2">

  {% assign current_event_list = site.events | where: "event-category", "slaughter-2018-food" | sort: 'event-start-date' %}

  {% for current_event in current_event_list %}

      <article class="{% include /c/slot.html %}">

          <h3 class="{% include /c/slot-title.html %}"><a class="blue" href="{{ current_event.url }}" class="blue">{{ current_event.name | remove: "Slaughter in Southwold: " }}</a></h1>

          <p class="{% include /c/page-meta.html %} mb0">{{ current_event.event-start-date | date: "%a %-d %b" }}, {{ current_event.event-start-time }}{% if current_event.event-end-time %}&#8211;{{ current_event.event-end-time }}{% endif %}</p>

          <div class="cf{% if current_event.event-image %} pt3{% endif %}">

              {% if current_event.event-image %}

                <div class="custom-g-l2">

                    <img src="/images/{{ current_event.event-image }}" alt="{{ current_event.name }}" class="db center br-100">

                </div>

              {% endif %}

              {% if current_event.event-image %}<div class="custom-g-l4 custom-g-nm">{% endif %}

              <div class="custom-prose custom-lh-copy">

                  {{ current_event.excerpt }}

              </div>

               {% if current_event.event-image %}</div>{% endif %}

          </div>

      </article>

  {% endfor %}

</div>

<h2>Classic crime film double bills</h2>

<div class="custom-prose custom-lh-copy pb4 mt2">

  {% assign current_event_list = site.events | where: "event-category", "slaughter-2018-film" | sort: 'event-start-date' %}

  {% for current_event in current_event_list %}

      <article class="{% include /c/slot.html %}">

          <h3 class="{% include /c/slot-title.html %}"><a class="blue" href="{{ current_event.url }}" class="blue">{{ current_event.name | remove: "Slaughter in Southwold: " }}</a></h1>

          <p class="{% include /c/page-meta.html %} mb0">{{ current_event.event-start-date | date: "%a %-d %b" }}, {{ current_event.event-start-time }}{% if current_event.event-end-time %}&#8211;{{ current_event.event-end-time }}{% endif %}</p>

          <div class="cf{% if current_event.event-image %} pt3{% endif %}">

              {% if current_event.event-image %}

                <div class="custom-g-l2">

                    <img src="/images/{{ current_event.event-image }}" alt="{{ current_event.name }}" class="db center br-100">

                </div>

              {% endif %}

              {% if current_event.event-image %}<div class="custom-g-l4 custom-g-nm">{% endif %}

              <div class="custom-prose custom-lh-copy">

                  {{ current_event.excerpt }}

              </div>

               {% if current_event.event-image %}</div>{% endif %}

          </div>

      </article>

  {% endfor %}

</div>

<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <h1 class="{% include /c/content-block-title.html %} tc">Partners</h1>

  <ul class="cf list ma0 pa0 mb2 tc custom-prose center">

    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="/about/member-organisations/friends-of-southwold-library-fosl/"><img src="/images/featured/featured-fosl-logo-small.jpg" alt="The Friends of Southwold Library" /></a></li>
    <li class="dib mr2 mr3-ns"><img src="/images/featured/featured-southwold-arts-centre.jpg" alt="Southwold Arts Centre" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.southwoldartsfestival.co.uk/"><img src="/images/featured/featured-southwold-arts-festival-2018.jpg" alt="Southwold Arts Festival 2018" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="/bookfest/"><img src="/images/featured/featured-bookfest-logo-100.jpg" alt="Suffolk Libraries Bookfest" /></a></li>

  </ul>

</footer>
