---
layout: blank
title: Home Library Service enquiry
breadcrumb: mobiles-home
---

{% include hnav-small.html menu="mandh" %}

<article class="ph2 ph3-ns pv3 pv4-l bg-white">

	<div class="custom-max-width">

		{% include breadcrumb.html %}

		<h1 class="custom-lh-title f2 pa0 ma0 mb3">Home Library Service enquiry</h1>

		<div class="measure">

			<form class="pure-form pure-form-stacked pb4" netlify name="hls-enquiry" action="/mobiles-home/home/enquiry/confirmation/" netlify-honeypot="bot-field">

				<p class="mt0 f6">Complete this form if you’re interested in finding out about the Home Library Service for yourself or somebody you know. We’ll never share your personal details with anyone else.</p>

				<label for="name" class="db f5 pt3">Your name <span class="red">*</span></label>
				<input required class="border-box w-100" type="text" name="name" id="name">

				<label for="on-behalf-name" class="db f5 pt3">If your enquiry is on behalf of someone else, their name</label>
				<input class="border-box w-100" type="text" name="on-behalf-name" id="on-behalf-name">

				<label for="email" class="db f5 pt3">Your email</label>
				<input class="border-box w-100" type="email" name="email" id="email">

				<label for="tel" class="db f5 pt3">Your contact number</label>
				<input class="border-box w-100" type="tel" name="tel" id="tel">

				<label for="comments" class="db f5 pt3">Any details you‘d like to add</label>
				<textarea class="db border-box w-100 vh-25" name="comments" id="comments"></textarea>

				<div class="pt3">{% include /c/button-submit-blue.html text="Submit your enquiry" %}</div>

			</form>

		</div>

  </div>

</article>
