---
layout: default
title: Enterprise + Innovation Hub
breadcrumb: hub
---

<div class="custom-constrain-img">

    <h1 class="{% include /c/page-title.html %}">Enterprise + Innovation Hub</h1>

    <div class="cf">

        <div class="custom-g-l3">

            <section class="{% include /c/block.html %}" id="business-advice">

                <h1 class="{% include /c/block-title.html %}"><a href="/libraries/hub/business-advice/">Business advice from New Anglia Growth Hub</a></h1>

                <a class="white custom-no-underline" href="/libraries/hub/business-advice/"><img src="/images/card/business-advice.jpg" alt="People receiving business advice in a pod"></a>

                <p class="{% include /c/block-graf.html %}">Make an appointment for free advice on several aspects of your business.</p>

            </section>

        </div>

        <div class="custom-g-l3 custom-g-nm">

            <section class="{% include /c/block.html %}" id="makerspace">

                <h1 class="{% include /c/block-title.html %}"><a href="/libraries/hub/makerspace/">Makerspace</a></h1>

                <a class="white custom-no-underline" href="/libraries/hub/makerspace/"><img src="/images/card/makerspace.jpg" alt="A sewing machine from the Makerspace"></a>

                <p class="{% include /c/block-graf.html %}">Use Raspberry Pi kits and sewing machines in our MakerSpace.</p>

            </section>

        </div>

    </div> <!-- end row -->

    <div class="cf">

        <div class="custom-g-l3">

            <section class="{% include /c/block.html %}" id="space-hire">

                <h1 class="{% include /c/block-title.html %}"><a href="/libraries/hub/space-hire/">Work, meeting and presentation spaces</a></h1>

                <a class="white custom-no-underline" href="/libraries/hub/space-hire/"><img src="/images/card/space-hire.jpg" alt="A meeting in the lounge"></a>

                <p class="{% include /c/block-graf.html %}">Hire the whole Carnegie Room, lounge &amp; presentation suite, Lab or a pod.</p>

            </section>

        </div>

        <div class="custom-g-l3 custom-g-nm">

            <section class="{% include /c/block.html %}" id="code-club">

                <h1 class="{% include /c/block-title.html %}"><a href="/libraries/hub/code-club/">Code Club</a></h1>

                <a class="white custom-no-underline" href="/libraries/hub/code-club"><img src="/images/card/code-club.jpg" alt="Children coding using Raspberry Pi"></a>

                <p class="{% include /c/block-graf.html %}">Children aged 6-14 can learn how to code through creative projects.</p>

            </section>

        </div>

            </div> <!-- end row -->

        <h2>Upcoming events in the Hub</h2>

        {% assign hub-events = site.events | where: "event-category", "hub" | sort: "event-start-date" %}

        {% for event in hub-events %}

        {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

        {% if event.event-end-date %}

            {% capture event-time-seconds %}{{event.event-end-date | date: '%s' }}{% endcapture %}

        {% else %}

            {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

        {% endif %}

        {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

        {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

        {% if now-unix <= event-time %}

            {% assign special-event-check = true %}

            <article class="{% include /c/listing.html %}">

                <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

                <p class="{% include /c/page-meta.html %}">

                    <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span>

            </article>

        {% endif %}

        {% endfor %}

        {% if special-event-check == false %}
          <p class="{% include /c/page-meta.html %} mb3">No upcoming events.</p>
        {% endif %}

</div>

<div class="custom-lh-copy custom-constrain-img">

	<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

		<h1 class="{% include /c/content-block-title.html %} tc">Partners</h1>

		<ul class="cf list ma0 pa0 mb2 tc custom-prose center">

			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.suffolkchamber.co.uk/"><img src="/images/article/scc-small.jpg" alt="Suffolk Chamber of Commerce" /></a></li>
			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.newangliagrowthhub.co.uk/"><img src="/images/article/nagh-small.jpg" alt="New Anglia Growth Hub" /></a></li>
			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.eehub.co.uk/"><img src="/images/article/eehub-small.jpg" alt="Eastern Enterprise Hub" /></a></li>
			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.ucs.ac.uk/"><img src="/images/article/ucs-small.jpg" alt="UCS" /></a></li>
			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.ipswich.gov.uk/"><img src="/images/article/ibc-small.jpg" alt="Ipswich Borough Council" /></a></li>

		</ul>

		<p class="gray tc"><small>FCA Registration Number IP031542</small></p>

	</footer>

</div>
