---
layout: default
title: Events and activities
breadcrumb: home
---

<h1 class="{% include /c/page-title.html %}">{{ page.title }}</h1>

<div class="{% include /c/generic-panel.html %}">

      <div class="cf">

          <div class="custom-g-l6">

              <section class="{% include /c/block.html %}">

                  <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/summer-holidays/">Summer holiday activities for children</a></h1>

                  <a class="white" href="/events-activities/summer-holidays"><img src="/images/featured/featured-summer-banner.jpg" class="custom-constrain-img" alt="Animal Agents and ImagiNation"></a>

                  <p class="{% include /c/block-graf.html %}">Summer Reading Challenge for primary school-aged children, ImagiNation summer reading and art activities for 10-18 year-olds and one-off activities for children and families during the summer holidays.</p>

              </section>

          </div>

      </div>

</div>

<div class="cf">

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/children/">Regular children's activities</a></h1>

            <a class="white" href="/events-activities/children/"><img src="/images/featured/featured-childrens-activities.jpg" class="custom-constrain-img" alt="Children and parents at a story and activity session"></a>

            <p class="{% include /c/block-graf.html %}">Songs, stories &amp; crafts, Minecraft, reading &amp; writing groups for toddlers, pre–school &amp; primary age.</p>

        </section>

    </div>

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/older/">Regular older people's activities</a></h1>

            <a class="white" href="/events-activities/older/"><img src="/images/featured/featured-older-people.jpg" class="custom-constrain-img" alt="Older people participating in an art group"></a>

            <p class="{% include /c/block-graf.html %}">Coffee groups, history, arts &amp; crafts for older people and their carers.</p>

        </section>

    </div>

    <div class="custom-g-l2 custom-g-nm">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/upcoming/">Special events</a></h1>

            <a class="white" href="/events-activities/upcoming/"><img src="/images/featured/featured-special-events.jpg" class="custom-constrain-img" alt="Primo Nelson performing at Ipswich County Library"></a>

            <p class="{% include /c/block-graf.html %}">A list of upcoming special events for all ages.</p>

        </section>

    </div>

</div>

<div class="cf">

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/get-online/">Free beginner computer courses</a></h1>

            <a class="white" href="/events-activities/get-online/"><img src="/images/featured/featured-computer-courses.jpg" class="custom-constrain-img" alt="A library computer"></a>

            <p class="{% include /c/block-graf.html %}">Free courses for complete computer and internet beginners.</p>

        </section>

    </div>

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/presents/"><cite>Presents</cite> screenings</a></h1>

            <a class="white" href="/events-activities/presents/"><img src="/images/featured/featured-presents.jpg" class="custom-constrain-img" alt="A scene from York Theatre Royal's The Railway Children"></a>

            <p class="{% include /c/block-graf.html %}"><cite>Presents</cite>, top quality screenings of theatre, ballet and exhibitions across our libraries.</p>

        </section>

    </div>

    <div class="custom-g-l2 custom-g-nm">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/reading-groups/">Reading groups</a></h1>

            <a class="white" href="/events-activities/reading-groups/"><img src="/images/featured/featured-reading-groups.jpg" class="custom-constrain-img" alt="Books in grass"></a>

            <p class="{% include /c/block-graf.html %}">Join a library group and find out about setting up your own.</p>

        </section>

    </div>

</div>

<div class="cf">

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/ceremonies/">Northgate Room ceremonies</a></h1>

            <a class="white" href="/events-activities/ceremonies/"><img src="/images/featured/featured-ceremonies.jpg" class="custom-constrain-img" alt="A wedding in a room lined with books"></a>

            <p class="{% include /c/block-graf.html %}">Ipswich County Library’s Northgate Room is now licensed to hold weddings, civil ceremonies and other celebrations.</p>

        </section>

    </div>

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/suffolk-writes/">Suffolk Writes</a></h1>

            <a class="white" href="/events-activities/suffolk-writes/"><img src="/images/featured/featured-suffolk-writes.jpg" class="custom-constrain-img" alt="A pen on a computer keyboard"></a>

            <p class="{% include /c/block-graf.html %}">Suffolk Writes is a project giving you the opportunity to make your written work available for Suffolk Libraries customers to borrow.</p>

        </section>

</div>
