---
layout: new-blank
title: Events and activities
breadcrumb: home
pad-content: true
---

<h1 class="{% include /c/page-title.html %}">{{ page.title }}</h1>

{%
  include z-bar.html
  src="home/storytime.jpg"
  alt="Child watching a woman tell a story on TV."
  color="white"
  bg-color="custom-bg-corporate"
  title="Online events, activities & groups"
  link="/events-activities/online-and-streamed-events/"
  link-text="Find an online event &rarr;"
  link-color="white"
  text="Enjoy library live streams, recorded events and book & film groups from your home."
%}

<p class="b pa2 pa3-ns bg-light-gray tc mt4"><span role="img" class="v-btm" aria-label="Attention!">⚠️</span> As library buildings are currently closed due to the coronavirus situation, all in-library events have been postponed indefinitely.</p>

<div class="mt3 flex-l flex-wrap-l justify-between-l">

    <div class="w-30-l mb3">

        <div class="{% include /c/block.html %}">

            <h2 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/children/">Regular children's activities</a></h2>

            <a class="custom-force-white" href="/events-activities/children/"><img src="/images/featured/featured-childrens-activities.jpg" class="custom-constrain-img" alt="Children and parents at a story and activity session"></a>

            <p class="{% include /c/block-graf.html %}">Songs, stories &amp; crafts, Minecraft, reading &amp; writing groups for toddlers, pre–school &amp; primary age.</p>

        </div>

    </div>

    <div class="w-30-l mb3">

        <div class="{% include /c/block.html %}">

            <h2 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/older/">Regular older people's activities</a></h2>

            <a class="custom-force-white" href="/events-activities/older/"><img src="/images/featured/featured-older-people.jpg" class="custom-constrain-img" alt="Older people participating in an art group"></a>

            <p class="{% include /c/block-graf.html %}">Coffee groups, history, arts &amp; crafts for older people and their carers.</p>

        </div>

    </div>

    <div class="w-30-l mb3">

        <div class="{% include /c/block.html %}">

            <h2 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/upcoming/">Special events</a></h2>

            <a class="custom-force-white" href="/events-activities/upcoming/"><img src="/images/featured/featured-special-events.jpg" class="custom-constrain-img" alt="Primo Nelson performing at Ipswich County Library"></a>

            <p class="{% include /c/block-graf.html %}">A list of upcoming special events for all ages.</p>

        </div>

    </div>

    <div class="w-30-l mb3">

        <div class="{% include /c/block.html %}">

            <h2 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/get-online/">Free beginner computer courses</a></h2>

            <a class="custom-force-white" href="/events-activities/get-online/"><img src="/images/featured/featured-computer-courses.jpg" class="custom-constrain-img" alt="A library computer"></a>

            <p class="{% include /c/block-graf.html %}">Free courses for complete computer and internet beginners.</p>

        </div>

    </div>

    <div class="w-30-l mb3">

        <div class="{% include /c/block.html %}">

            <h2 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/reading-groups/">Reading groups</a></h2>

            <a class="custom-force-white" href="/events-activities/reading-groups/"><img src="/images/featured/featured-reading-groups.jpg" class="custom-constrain-img" alt="Books in grass"></a>

            <p class="{% include /c/block-graf.html %}">Join a library group and find out about setting up your own.</p>

        </div>

    </div>

    <div class="w-30-l mb3">

        <div class="{% include /c/block.html %}">

            <h2 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/ceremonies/">Ceremonies in the Northgate Room</a></h2>

            <a class="custom-force-white" href="/events-activities/ceremonies/"><img src="/images/featured/featured-thomas-wolsey-northgate-room.jpg" class="custom-constrain-img" alt="Stained glass windows in the Northgate Room in Ipswich County Library"></a>

            <p class="{% include /c/block-graf.html %}">Ipswich County Library’s Northgate Room is licensed to hold weddings, civil ceremonies and other celebrations.</p>

        </div>

    </div>

    <div class="w-30-l mb3">

        <div class="{% include /c/block.html %}">

            <h2 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/suffolk-writes/">Suffolk Writes</a></h2>

            <a class="custom-force-white" href="/events-activities/suffolk-writes/"><img src="/images/featured/featured-suffolk-writes.jpg" class="custom-constrain-img" alt="A pen on a computer keyboard"></a>

            <p class="{% include /c/block-graf.html %}">Suffolk Writes is a project giving you the opportunity to make your written work available for Suffolk Libraries customers to borrow.</p>

        </div>

      </div>

      <div class="w-30-l mb3">

          <div class="{% include /c/block.html %}">

              <h2 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/skulduggery/">Skulduggery in Stowmarket</a></h2>

              <a class="custom-force-white" href="/skulduggery/"><img src="/images/featured/featured-skulduggery-in-stowmarket-2020.jpg" class="custom-constrain-img" alt="Skulduggery in Stowmarket"></a>

              <p class="{% include /c/block-graf.html %}">Talks and book signings from top crime authors at Stowmarket Library, 24 - 26 April 2020.</p>

          </div>

      </div>

</div>
