---
layout: default
title: Events and activities
breadcrumb: home
---

<h1 class="{% include /c/page-title.html %}">{{ page.title }}</h1>

<div class="cf">

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/children/">Regular children's activities</a></h1>

            <a class="custom-force-white" href="/events-activities/children/"><img src="/images/featured/featured-childrens-activities.jpg" class="custom-constrain-img" alt="Children and parents at a story and activity session"></a>

            <p class="{% include /c/block-graf.html %}">Songs, stories &amp; crafts, Minecraft, reading &amp; writing groups for toddlers, pre–school &amp; primary age.</p>

        </section>

    </div>

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/older/">Regular older people's activities</a></h1>

            <a class="custom-force-white" href="/events-activities/older/"><img src="/images/featured/featured-older-people.jpg" class="custom-constrain-img" alt="Older people participating in an art group"></a>

            <p class="{% include /c/block-graf.html %}">Coffee groups, history, arts &amp; crafts for older people and their carers.</p>

        </section>

    </div>

    <div class="custom-g-l2 custom-g-nm">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/upcoming/">Special events</a></h1>

            <a class="custom-force-white" href="/events-activities/upcoming/"><img src="/images/featured/featured-special-events.jpg" class="custom-constrain-img" alt="Primo Nelson performing at Ipswich County Library"></a>

            <p class="{% include /c/block-graf.html %}">A list of upcoming special events for all ages.</p>

        </section>

    </div>

</div>

<div class="cf">

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/get-online/">Free beginner computer courses</a></h1>

            <a class="custom-force-white" href="/events-activities/get-online/"><img src="/images/featured/featured-computer-courses.jpg" class="custom-constrain-img" alt="A library computer"></a>

            <p class="{% include /c/block-graf.html %}">Free courses for complete computer and internet beginners.</p>

        </section>

    </div>

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/presents/"><cite>Presents</cite> screenings</a></h1>

            <a class="custom-force-white" href="/events-activities/presents/"><img src="/images/featured/featured-presents.jpg" class="custom-constrain-img" alt="A scene from York Theatre Royal's The Railway Children"></a>

            <p class="{% include /c/block-graf.html %}"><cite>Presents</cite>, top quality screenings of theatre, ballet and exhibitions across our libraries.</p>

        </section>

    </div>

    <div class="custom-g-l2 custom-g-nm">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/reading-groups/">Reading groups</a></h1>

            <a class="custom-force-white" href="/events-activities/reading-groups/"><img src="/images/featured/featured-reading-groups.jpg" class="custom-constrain-img" alt="Books in grass"></a>

            <p class="{% include /c/block-graf.html %}">Join a library group and find out about setting up your own.</p>

        </section>

    </div>

</div>

<div class="cf">

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/ceremonies/">Ceremonies in the Northgate Room</a></h1>

            <a class="custom-force-white" href="/events-activities/ceremonies/"><img src="/images/featured/featured-thomas-wolsey-northgate-room.jpg" class="custom-constrain-img" alt="Stained glass windows in the Northgate Room in Ipswich County Library"></a>

            <p class="{% include /c/block-graf.html %}">Ipswich County Library’s Northgate Room is licensed to hold weddings, civil ceremonies and other celebrations.</p>

        </section>

    </div>

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/suffolk-writes/">Suffolk Writes</a></h1>

            <a class="custom-force-white" href="/events-activities/suffolk-writes/"><img src="/images/featured/featured-suffolk-writes.jpg" class="custom-constrain-img" alt="A pen on a computer keyboard"></a>

            <p class="{% include /c/block-graf.html %}">Suffolk Writes is a project giving you the opportunity to make your written work available for Suffolk Libraries customers to borrow.</p>

        </section>

      </div>

      <div class="custom-g-l2 custom-g-nm">

          <section class="{% include /c/block.html %}">

              <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/sporting-memories/">Sporting Memories</a></h1>

              <a class="custom-force-white" href="/events-activities/sporting-memories/"><img src="/images/featured/featured-sporting-memories-740.jpg" class="custom-constrain-img" alt="A collage of sports photographs"></a>

              <p class="{% include /c/block-graf.html %}">Join or volunteer with one of our Sporting Memories Network reminiscence groups.</p>

          </section>

      </div>

</div>

<div class="cf">

          <div class="custom-g-l2 custom-g-l2">

              <section class="{% include /c/block.html %}">

                  <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/summer-holidays/summer-reading-challenge/">Summer Reading Challenge</a></h1>

                  <a class="custom-force-white" href="/events-activities/summer-holidays/summer-reading-challenge/"><img src="/images/featured/featured-brandon-src.jpg" class="custom-constrain-img" alt="Children with their Summer Reading Challenge certificates and medals at Brandon Library"></a>

                  <p class="{% include /c/block-graf.html %}">We're looking for volunteers to help run this year's 'Mischief Makers' Summer Reading Challenge in all of our libraries.</p>

              </section>

            </div>

            <div class="custom-g-l2 custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/events-activities/summer-holidays/imagination/">ImagiNation</a></h1>

                    <a class="custom-force-white" href="/events-activities/summer-holidays/imagination/"><img src="/images/featured/featured-imagination-2018.jpg" class="custom-constrain-img" alt="ImagiNation imagery"></a>

                    <p class="{% include /c/block-graf.html %}">10-18 year-olds are invited to express their feelings about the books they read this summer through art and creativity.</p>

                </section>

              </div>

</div>
