---
layout: full-width-narrow
title: Parents, carers and children
breadcrumb: home
---

<div class="{% include /c/generic-panel.html %}">

<p><a class="blue" href="/newsletter">Subscribe to our monthly newsletter</a> for reading, viewing and listening suggestions straight to your inbox.</p>

</div>

<section class="cf {% include /c/content-block.html %} pt4-ns">

    <div class="custom-g-r4">

        <h1><a href="/parents-carers-and-children/childrens-ya-books/">New in &amp; book ideas</a></h1>

        <p>Latest titles and reading ideas for children aged 0-11.</p>

    </div>

    <div class="custom-g-r2 custom-g-nm">

        <img src="/images/featured/featured-childrens-reading-ideas.jpg" class="custom-br-50" alt="A boy reading a book">

    </div>

</section>

<section class="cf {% include /c/content-block.html %} pt4-ns">

    <div class="custom-g-r4">

        <h1><a href="/parents-carers-and-children/parenting-advice-books-to-help-with-raising-a-family/">Parenting advice: Books to help with raising every sort of family</a></h1>

        <p>Advice, guidance and stories to share to help tackle some of the challenges of raising a family.</p>

    </div>

    <div class="custom-g-r2 custom-g-nm">

        <img src="/images/featured/featured-parents-carers-collection.jpg" class="custom-br-50" alt="A man reading with a child">

    </div>

</section>

<section class="cf {% include /c/content-block.html %}">

    <div class="custom-g-r4">

        <h1><a href="/events-activities/children/">Regular children&#8217;s events &amp; activities</a></h1>

        <p>Regular activity sessions and events, including songs, rhymes, stories, playtimes, crafts, clubs, reading groups and Minecraft clubs.</p>

    </div>

    <div class="custom-g-r2 custom-g-nm">

        <img src="/images/featured/featured-children-activity.jpg" class="custom-br-50" alt="Children's craft activity">

    </div>

</section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/parents-carers-and-children/getting-the-best-out-of-the-library-service/">Getting the best out of the library service</a></h1>

            <p>What we stock and how you can use the service to help your child's reading and development.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/featured/featured-getting-the-most.jpg" class="custom-br-50" alt="The Bookstart Bear">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

              <h1><a href="/parents-carers-and-children/lets-talk-reading/">Let's Talk Reading</a></h1>

              <p>Let's Talk Reading is a voluntary project that aims to eradicate low literacy in Ipswich by 2025.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

              <img src="/images/featured/featured-lets-talk-reading-square.jpg" class="custom-br-50" alt="Let's Talk Reading logo">

        </div>

      </section>
