---
layout: default
title: Summer Reading Challenge
breadcrumb: events
jquery: true
dynatable: true
hero-image: hero-src-2017.jpg
hero-alt: Children at Halesworth Library with their Summer Reading Challenge certificates
---

<h1 class="{% include /c/page-title.html %}">{{ page.title }}</h1>

<div class="cf">

<p>As the 2017 Summer Reading Challenge draws to a close, we'd like to thank everyone who signed up to take part as well as the volunteers who helped it run so smoothly.</p>

<p>The table below includes details of presentation ceremonies for children who completed this year's Summer Reading Challenge. If you can't see your library listed, or can't attend their ceremony, please <a href="/libraries/">contact your local library</a>.</p>

{% include dynatable-library-list.html %}

<table id="search-table" class="pure-table pure-table-bordered">

    <thead>
        <tr>
            <th data-dynatable-column="event">Event</th>
            <th data-dynatable-column="library">Library</th>
            <th data-dynatable-column="date">Date</th>
            <th data-dynatable-column="time">Time</th>
        </tr>
    </thead>

    <tbody>

    {% assign src_events = (site.events | where: "event-category", "src-presentation" | sort: "event-start-date" ) %}

    {% for event in src_events %}

    {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

    {% if event.event-end-date %}

        {% capture event-time-seconds %}{{event.event-end-date | date: '%s' }}{% endcapture %}

    {% else %}

        {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

    {% endif %}

    {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

    {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

    {% if now-unix <= event-time %}

        <tr>

            <td><a href="{{ event.url }}">{{ event.name }}</a></td>
            <td>{{ event.location-text }}</td>
            <td>{{ event.event-start-date | date: "%a %-d %b, %Y" }}{% if event.event-end-date %} &#8211; {{ event.event-end-date | date: "%a %-d %b, %Y" }}{% endif %}</td>
            <td>{{ event.event-start-time }}</td>

        </tr>

    {% endif %}

    {% endfor %}

    </tbody>

</table>

<script>
$('#search-table').dynatable({
  features: {
    paginate: false,
    recordCount: false,
    sorting: false
  },
  inputs: {
    queries: $('#search-library')
  }
});
</script>

</div>

<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <ul class="cf list ma0 pa0 mb2 tc custom-prose center">

    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="https://summerreadingchallenge.org.uk/"><img src="/images/featured/featured-src-tra-logos.jpg" alt="The Reading Agency Summer Reading Challenge" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.artscouncil.org.uk/"><img src="/images/featured/featured-arts-council-england-logo.jpg" alt="Arts Council England" /></a></li>
  </ul>

<p align="center">Illustrations &copy; Tony Ross</p>

</footer>
