---
title: "Summer Reading Challenge"
layout: blank
particles: true
jquery: true
dynatable: true
event-filter: src-presentation
---

{% include hnav-small.html menu="src" %}

<article class="ph2 ph3-ns bg-black">

    <header class="relative bg-black bb b--light-gray tc ph2 ph3-ns pv4 pv5-ns pv6-l">

      <div id="particles-js" class="z-0 absolute top-0 left-0 w-100 h-100"></div>

      <div class="z-999 bg-black gold pa2 ph3-ns measure center o-90">

        <h1 class="f3 f2-ns custom-lh-title mt0 mb2">Summer Reading Challenge</h1>

        <p class="f3-ns mb3 mb4-ns light-yellow">Thank you to everyone who took part in the 2019 Summer Reading Challenge - Space Chase. We hope you enjoyed it as much as we did!</p>

      </div>

  </header>

  <section class="ph2 ph3-ns pv3 bg-white bb b--light-gray">

    <div class="measure-wide center">

      <h2 class="tc f4 f3-ns custom-lh-title">Certificate and medal presentations</h2>

          <p>Contact <a href="/libraries/">your local library</a> if their ceremony doesn't appear in the table below.</p>

          {% include filtered-events-table.html %}

    </div>

  </section>

  <section class="ph2 ph3-ns bg-white dark-gray bb b--light-gray pv3">

    <h2 class="tc f4 f3-ns custom-lh-title">#SLWhereOnEarth</h2>

    <div class="custom-max-width">

      <div class="flex-l">

        <div class="w-50-l pr4-l">

          <img class="db center w-90 mv4 ba bw3 b--white br2 shadow-2 custom-rotate-minus-5" src="/images/src/where-on-earth.jpg" alt="People reading in unexpected places, including a gym, in lockers and on a boat.">

        </div>

        <div class="w-50-l pl4-l">

          <p>Thank you to everyone who entered our #SLWhereOnEarth photo competition. We've contacted the winner and runners-up - congratulations!</p>

        </div>

      </div>

    </div>

  </section>

</article>
