---
layout: sidebar-right
title: Summer Reading Challenge
breadcrumb: summer
jquery: true
dynatable: true
hero-image: hero-src-2018-2.jpg
hero-alt: Mischief Makers logo with Dennis and Rubi
sidebar: summer-reading-challenge
---

<p>Thank you to all the children and volunteers who made this year's Summer Reading Challenge another success. Each of our libraries holds a presentation ceremony where children who completed the challenge can receive their certificates and medals.</p>

<p>Glemsford Library will be holding their presentation at Glemsford Primary Academy. <a href="/libraries/glemsford-library/">Contact Glemsford Library</a> if your child is not a pupil at the school. 

<p>If you can't see your location in the table, <a href="/libraries/">contact your local library</a>.</p>

{% include dynatable-library-list.html %}

<table id="search-table" class="pure-table pure-table-bordered">

    <thead>
        <tr>
            <th data-dynatable-column="event">Event</th>
            <th data-dynatable-column="library">Library</th>
            <th data-dynatable-column="date">Date</th>
            <th data-dynatable-column="time">Time</th>
        </tr>
    </thead>

    <tbody>

    {% assign src-presentation = site.events | where: "event-category", "src-presentation" | sort: 'location-text' %}

    {% for event in src-presentation %}

    {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

    {% if event.event-end-date %}

        {% capture event-time-seconds %}{{event.event-end-date | date: '%s' }}{% endcapture %}

    {% else %}

        {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

    {% endif %}

    {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

    {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

    {% if now-unix <= event-time %}

        <tr>

            <td><a href="{{ event.url }}">{{ event.name }}</a></td>
            <td>{{ event.location-text }}</td>
            <td>{{ event.event-start-date | date: "%a %-d %b, %Y" }}{% if event.event-end-date %} &#8211; {{ event.event-end-date | date: "%a %-d %b, %Y" }}{% endif %}</td>
            <td>{{ event.event-start-time }}</td>

        </tr>

    {% endif %}

    {% endfor %}

    </tbody>

</table>

<script>
$('#search-table').dynatable({
  features: {
    paginate: false,
    recordCount: false,
    sorting: false
  },
  inputs: {
    queries: $('#search-library')
  }
});
</script>

<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <ul class="cf list ma0 pa0 mb2 tc custom-prose center">

    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="https://www.summerreadingchallenge.org.uk/"><img src="/images/featured/featured-mischief-makers-logo.jpg" alt="Mischief Makers logo"></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="https://www.readingagency.org.uk/"><img src="/images/featured/featured-src-tra-logos.jpg" alt="The Reading Agency logo" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.artscouncil.org.uk/"><img src="/images/featured/featured-arts-council-england-logo.jpg" alt="Arts Council England" /></a></li>

  </ul>

<p align="center">Illustrations &copy; DC Thomson Ltd (2018)</p>

</footer>
