---
layout: sidebar-right
category: health
title: "New Chapters: Mental health information services"
breadcrumb: home
sidebar: health
excerpt: 'Our mental health and wellbeing service includes a blog, <a href="/health/links/">links to useful websites</a>, <a href="/health/events/">an events list</a> and <a href="/health/lists/health-lists/books-on-prescription-self-help-reading/">Books on Prescription</a>.'
pagination:
  enabled: true
  category: health
---

<div class="{% include /c/generic-panel.html %}">

    <p><a href="/events-activities/super-happy-sunday/">Boost your health and happiness at our libraries' Super Happy Sunday events on 27 January &rarr;</a></p>

</div>

{% include post-listing.html %}
