<body class="custom-sans-serif lh-copy dark-gray bg-light-gray">

	<ul class="clip">

		<li><a href="#content">Skip to content</a></li>
		<li><a href="#footer-nav">Skip to navigation menu</a></li>

	</ul>

	{% if site.message %}

	{% capture link-url %}
	{{ site.message_link }}
	{% endcapture %}
	{% capture link-text %}
	{{ site.message_link_text }}
	{% endcapture %}

	<div class="bg-black white pa2 pv1 pv3-ns ph3-ns">

		<div class="custom-max-width custom-underline">

			<p class="f6 ma0 pv2 pv0-ns">{% if site.message_title %}<strong>{{ site.message_title }}</strong>: {% endif %}{{ site.message }}{% if site.message_link %} <span class="db mv2 mv0-ns ml1-ns dib">{% include /c/button-green.html url=link-url text=link-text %}</span>{% endif %}</p>

		</div>

	</div>

	{% endif %}

	<header id="site-header" class="custom-lh-title">

		<div class="custom-bg-corporate white pa2 pa3-ns pv1-ns">

			<div class="custom-max-width flex-l">

				<div class="pv2 pv3-ns w-60-l overflow-x-auto nowrap custom-overflow-scrolling">

						<ul class="ma0 pa0 pt2-l list f6 f5-ns">

							<li class="dib mr2 mr3-ns pv1 pv0-ns"><a href="/" class="moon-gray hover-white no-underline underline-hover pv2 pv1-l"><span class="white fw6">Suffolk</span> <span class="custom-corporate-green normal">Libraries</span></a></li>
							<li class="dib mr2 mr3-ns pv1 pv0-ns"><a href="/help/" class="moon-gray hover-white no-underline underline-hover pv2 pv1-l">Help</a></li>
							<li class="dib mr2 mr3-ns pv1 pv0-ns"><a href="/contact/" class="moon-gray hover-white no-underline underline-hover pv2 pv1-l">Contact</a></li>
							<li class="dib mr2 mr3-ns pv1 pv0-ns"><a href="/about/" class="moon-gray hover-white no-underline underline-hover pv2 pv1-l">About</a></li>
							<li class="dib mr2 mr3-ns pv1 pv0-ns"><a href="/help/joining-the-library/" class="moon-gray hover-white no-underline underline-hover pv2 pv1-l">Join</a></li>
							<li class="dib mr2 mr3-ns pv1 pv0-ns"><a class="b white no-underline custom-bg-corporate-green hover-bg-green pa1 br2" href="/support-us/">Donate</a></li>
							<li class="dib pv1 pv0-ns"><a href="/help/joining-the-library/" class="custom-icon custom-icon-lock-white b moon-gray hover-white no-underline underline-hover pv2 pv1-l">Login</a></li>

						</ul>

				</div>

				<div class="w-40-l">

					<form method="get" action="/search" id="search" class="pv3 w-100 custom-lh-title dark-gray f6 f5-ns tr-l">

						<input id="s" type="search" name="q" value="" class="custom-webkit-app-none pa1 pa2-ns w-70 w-80-l ba b--light-silver br2">
						<input id="searchsubmit" type="submit" value="Search" class="custom-webkit-app-none black pa1 pa2-ns ba b--light-silver br2 bg-light-gray hover-bg-near-white pointer">
						<input type="hidden" hidden name="sitesearch" value="suffolklibraries.co.uk">

					</form>

				</div>

			</div>

		</div>

	</header>

	{% if page.title == 'Suffolk Libraries reserve, renew, branches and eLibrary' %}

		{% include home-header.html %}

	{% endif %}
