<body class="custom-sans-serif lh-copy dark-gray bg-moon-gray">

	<ul class="clip">

		<li><a href="#content">Skip to content</a></li>
		<li><a href="#footer-nav">Skip to navigation menu</a></li>

	</ul>

	{% if site.message %}

	{% capture link-url %}
	{{ site.message_link }}
	{% endcapture %}
	{% capture link-text %}
	{{ site.message_link_text }}
	{% endcapture %}

	<div class="bg-white black white pa2 pa3-ns">

		<div class="custom-max-width">

			<p class="f5 ma0 custom-lh-title">{% if site.message_title %}<strong>{{ site.message_title }}</strong>: {% endif %}{{ site.message }}{% if site.message_link %} <a href="{{ link-url }}" class="underline blue">{{ link-text }}</a>{% endif %}</p>

		</div>

	</div>

	{% endif %}

	<header id="site-header" class="custom-lh-title">

		<div class="bg-white dark-gray ph2 ph3-ns pt2 pt3-ns">

			<div class="custom-max-width flex">

				<div class="w-30">

					<a href="/"><img src="/images/logos/sl.svg" class="v-btm w3 w4-ns" alt="Suffolk Libraries"></a>

				</div>

				<div class="w-70 flex justify-end items-center">

					<div><a href="/support-us/" class="dib blue underline pv1 pv2-ns f6 pr2">Support us</a></div>
					<div><a href="/help/joining-the-library/" class="dib custom-icon custom-icon-card blue underline pv1 pv2-ns f6">Join now</a></div>
					<!-- <div><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="dib custom-icon custom-icon-lock blue underline pv1 pv2-ns ml2 f6">Login</a></div> -->
					<div><a href="/search-form/" class="dib custom-icon custom-icon-search blue underline pv1 pv2-ns ml2 f6">Search</a></div>

				</div>

			</div>

		</div>

		<div class="custom-bg-corporate white ph2 ph3-ns bb b--white">

			<div class="custom-max-width">

				<ul class="ma0 pa0 list f6">

					<li class="dib mr2 mr3-l"><a href="/" class="white underline db pv2">Home</a></li>
					<li class="dib mr2 mr3-l"><a href="/elibrary/" class="white underline db pv2">eLibrary</a></li>
					<li class="dib mr2 mr3-l"><a href="/events-activities/online-and-streamed-events/" class="white underline db pv2">Online events</a></li>
					<li class="dib mr2 mr3-l"><a href="/help/" class="white underline db pv2">Help</a></li>
					<li class="dib mr2 mr3-l"><a href="/contact/" class="white underline db pv2">Contact</a></li>
					<!-- <li class="dib mr2 mr3-l"><a href="/about/" class="white underline db pv2">About</a></li>
					<li class="dib"><a class="white underline db pv2" href="/support-us/">Donate</a></li> -->

				</ul>

			</div>

		</div>

	</header>

	{% if page.title == 'Suffolk Libraries reserve, renew, branches and eLibrary' %}

		{% include home-header.html %}

	{% endif %}
