---
layout: default
title: Support us
breadcrumb: home
---

<h1 class="{% include /c/page-title.html %}">{{ page.title }}</h1>

<p>Suffolk Libraries is an independent and charitable organisation which has a contract to run the county's library service. We're proud to have kept all the county's 44 libraries open even though our budget has been reduced by around 33% since 2012.</p>

<p>In today's challenging financial climate we appreciate any support people can give for our services and activities, which enrich the lives of people of all ages across the county.</p>

<div class="cf">

    <div class="custom-g-l6">

        <section class="{% include /c/block.html %}">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/extra/">Suffolk Libraries Extra</a></h1>

            <a class="custom-force-white" href="/extra/"><img src="/images/featured/featured-suffolk-libraries-extra.jpg" class="custom-constrain-img" alt="Suffolk Libraries Extra logo"></a>

            <p class="ma0 mb2">Individuals and businesses can make an annual donation by joining our supporters' scheme, Suffolk Libraries Extra.</p>

            <p class="ma0 mb2">You can also make a one-off donation or fundraise for us via <a href="https://mydonate.bt.com/charities/suffolklibrariesipsltd">our MyDonate page</a> or make free donations when you shop online by signing up with <a href="https://www.easyfundraising.org.uk/causes/suffolklibrariesips/">easyfundraising</a>.</p>

        </section>

    </div>

</div>

<div class="cf">

          <div class="custom-g-l3 custom-g-l2">

              <section class="{% include /c/block.html %}">

                  <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/volunteer/">Volunteering</a></h1>

                  <a class="custom-force-white" href="/volunteer/"><img src="/images/featured/featured-volunteer-awards-2018.jpg" class="custom-constrain-img" alt="Christian Hutchings receiving the 2018 Suffolk Libraries Volunteer Award with his mother ans grandmother"></a>

                  <p class="{% include /c/block-graf.html %}">We have plenty of rewarding volunteering opportunities for people of all ages. Strengthen your local community, meet new people and improve your CV by learning or sharing skills.</p>

              </section>

            </div>

            <div class="custom-g-l3 custom-g-nm">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/card-title-link.html %}" href="/support-us/community-groups/">Community groups</a></h1>

                    <a class="custom-force-white" href="/support-us/community-groups/"><img src="/images/featured/featured-community-groups.jpg" class="custom-constrain-img" alt="Thurston Library's friends group"></a>

                    <p class="{% include /c/block-graf.html %}">Join your local library's community group and help run events and raise funds while making new friends.</p>

                </section>

              </div>

</div>

<h2>Our supporters</h2>

<p>Our libraries receive over 3 million visits every year. If you run a local business and are interested in working with or supporting us, email <strong>help@suffolklibraries.co.uk</strong></p>

<p>We're very grateful to the following organisations for their support.</p>

<div class="cf pv3">

      <div class="fl w-50 w-25-ns ph4">

          <a class="custom-no-underline" href="https://www.angliaresearch.co.uk/"><img src="/images/featured/featured-anglia-research.jpg"></a>

      </div>

      <div class="fl w-50 w-25-ns ph4">

          <a class="custom-no-underline" href="http://www.suffolkmag.co.uk/home/"><img src="/images/featured/featured-suffolk-magazine.jpg" alt="EADT Suffolk Magazine"></a>

      </div>

      <div class="fl w-50 w-25-ns ph4">

          <a class="custom-no-underline" href="http://www.english-heritage.org.uk/"><img src="/images/featured/featured-english-heritage.jpg" alt="English Heritage"></a>

      </div>

      <div class="fl w-50 w-25-ns ph4">

          <a class="custom-no-underline" href="http://www.pshumanresources.co.uk/"><img src="/images/featured/featured-ps-human-resources.jpg" alt="PS Human Resources"></a>

      </div>

</div>

<p>The following people are all currently platinum members of our <a href="/extra/">Suffolk Libraries Extra</a> supporters' scheme.</p>

<div class="custom-col-2 mb4">

    <ul class="mt0 pt0 mb0">

      <li>Sheila Ash</li>
      <li>Paul Garcia</li>
      <li>Mary Holmes</li>
      <li>Gale Pryor</li>
      <li>David Wild</li>

    </ul>

</div>

<p>Thank you very much for your support.</p>
