---
layout: default
title: "Super Happy Sunday: 27 January 2019"
breadcrumb: events
featured: true
featured-image: "/images/featured/featured-super-happy-sunday.jpg"
featured-alt: "A woman in a field raising her arms to the sun."
featured-excerpt: "Super Happy Sunday is a new countywide event focussing on improving people's health and happiness with activities, taster sessions and giveaways."
featured-link-text: "Find out more"
jquery: true
dynatable: true
event-filter: shs
---

<h1 class="{% include /c/page-title.html %} tc">Super Happy Sunday</h1>

<p class="tc b f4">27 January 2019</p>

<img src="/images/featured/featured-super-happy-sunday.jpg" alt="A woman in a field raising her arms to the sun.">

<p>Super Happy Sunday is a new countywide event focussing on improving people's health and happiness with activities, taster sessions and giveaways. <a href="/news/super-happy-sunday">Find out more about Super Happy Sunday &rarr;</a></p>

<h2>Find a Super Happy Sunday event at your library</h2>

<p>Further events to be confirmed.</p>

{% include filtered-events-table.html %}
