---
layout: default
title: Lowestoft Library Literary Festival
breadcrumb: events
---

<div class="custom-constrain-img">

  <section id="introduction" class="{% include /c/content-block.html %} cf">

    <h1 class="page-title tc">Lowestoft Library Literary Festival 2017</h1>

    <p class="ma0 fw3 f3 mb2 mb4-ns tc">Saturday 17 October, 1430-2000. Meet Ben Garrod, George Szirtes, Simon Scarrow and Libby Purves. Tickets available from <a href="/libraries/lowestoft-library/">Lowestoft Library</a>: &pound;3 per talk or &pound;10 for all four.</p>

  </section>

  <section id="events" class="custom-prose custom-lh-copy pb4">

      {% assign current_event_list = site.events | where: "event-category", "lowestoft-lit-2017" | sort: 'event-start-time' ) %}

      {% for current_event in current_event_list %}

          <article class="{% include /c/slot.html %}">

              <h1 class="{% include /c/slot-title.html %}"><a class="blue" href="{{ event.url }}" class="blue">{{ current_event.name | remove: "Lowestoft Library Literary Festival: " }}</a></h1>

              <p class="{% include /c/page-meta.html %} mb0">{{ current_event.event-start-time }}{% if current_event.event-end-time %}&#8211;{{ current_event.event-end-time }}{% endif %}</p>

              <div class="cf{% if current_event.event-image %} pt3{% endif %}">

                  {% if current_event.event-image %}

                    <div class="custom-g-l2">

                        <img src="/images/{{ current_event.event-image }}" alt="{{ current_event.name }}" class="br-100">

                    </div>

                  {% endif %}

                  {% if current_event.event-image %}<div class="custom-g-l4 custom-g-nm">{% endif %}

                  <div class="custom-prose custom-lh-copy">

                      {{ current_event.excerpt }}

                  </div>

                   {% if current_event.event-image %}</div>{% endif %}

              </div>

          </article>

      {% endfor %}

  </section>

</div>
