---
layout: default
title: "Upcoming events at Haverhill Library"
breadcrumb: events
---

<h1 class="{% include /c/page-title.html %}">Upcoming events at Haverhill Library</h1>

{% assign haverhill-events = site.events | where: "location", "haverhill-library" | sort: "event-start-date" %}

{% for event in haverhill-events %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> - {{ event.event-end-date | date: "%a %-d %b" }} <span>{{ event.event-start-time }} - {{ event.event-end-time }}</span>
        </p>

    </article>

{% endfor %}
