{% include header.html %}

{% include hero.html %}

{% if page.hnav %}

    {% include hnav.html %}

{% endif %}

    <div class="{% include /c/main.html %}">

        <main id="content" class="{% include /c/content-box.html %}" role="main">

            {% include breadcrumb.html %}

            {% include coronavirus-events-notification.html %}

            <article class="cf custom-visited custom-underline">

                <h1 class="{% include /c/page-title.html %}">{{ page.name }}</h1>

                <div class="custom-g-l2">

                    <ul class="list ma0 pa0 mb2 mid-gray">

                    {% if page.event-category == 'slaughter-author' %}

                        <li class="ma0 mb2 mb3-ns"><a href="/events-activities/slaughter/" class="white"><img src="/images/featured/featured-slaughter-logo.jpg" alt="Slaughter in Southwold"></a></li>

                    {% endif %}

                    {% if page.event-category == 'slaughter-food-fun' %}

                        <li class="ma0 mb2 mb3-ns"><a href="/events-activities/slaughter/" class="white"><img src="/images/featured/featured-slaughter-logo.jpg" alt="Slaughter in Southwold"></a></li>

                    {% endif %}

                    {% if page.event-category == 'presents' %}

                        <li class="ma0 mb2 mb3-ns"><a href="/events-activities/presents/" class="white"><img src="/images/article/sl-presents-logo.jpg" alt="Suffolk Libraries Presents"></a></li>

                    {% endif %}

                    {% if page.event-category == 'ltfest' %}

                        <li class="ma0 mb2 mb3-ns f5">Part of <a href="/events-activities/lowestoft-library-literary-festival/" class="blue">Lowestoft Library Literary Festival</a></li>

                    {% endif %}

                    {% if page.event-alt-location %}

                        <li class="mv1 mv0-ns">{% if page.event-alt-location-link %}<a class="blue" href="{{ page.event-alt-location-link }}">{% endif %}{{ page.event-alt-location }}{% if page.event-alt-location-link %}</a>{% endif %}</li>

                    {% else %}

                        <li class="mv1 mv0-ns"><a class="blue" href="/libraries/{{ page.location }}">{{ page.location-text }}</a></li>

                    {% endif %}

                    {% if page.event-end-date %}

                         <li class="mv1 mv0-ns">{{ page.event-start-date | date: "%a %-d %b, %Y" }} &#8211; {{ page.event-end-date | date: "%a %-d %b %Y" }} </li>

                    {% else %}

                         <li class="mv1 mv0-ns">{{ page.event-start-date | date: "%a %-d %b, %Y" }}</li>

                    {% endif %}

                    {% if page.event-start-time %}

                          <li class="mv1 mv0-ns">{{ page.event-start-time }} &#8211; {{ page.event-end-time }}</li>

                    {% endif %}

                    {% if page.event-doors-open %}

                          <li class="mv1 mv0-ns">Doors open {{ page.event-doors-open }}</li>

                    {% endif %}

                    {% if page.event-book-signing %}

                          <li class="mv1 mv0-ns">Book signing from {{ page.event-book-signing }}</li>

                    {% endif %}

                    <br>

                    {% if page.event-ticket-price %}

                          <li class="mv1 mv0-ns">Tickets: &pound;{{ page.event-ticket-price }}</li>

                    {% endif %}

                    {% if page.event-ticket-url %}

                         <li class="mv1 mv0-ns"><a class="custom-force-white custom-no-underline pure-button pure-button-primary mv2" href="{{ page.event-ticket-url }}">Get a ticket</a></li>

                    {% endif %}

                    </ul>

                </div>

                <div class="custom-g-l4 custom-g-nm">

                    <div class="{% include /c/prose.html %} custom-remove-tm custom-underline custom-visited">

                      {{ content }}

                      {% if page.event-category[1] == "sign-up" %}

                      <h2 class="f4 custom-lh-title mt0 mb2">Register for this event</h2>

                      <form class="pure-form pure-form-stacked pb4" netlify name="event-sign-up" action="/events-activities/sign-up/" netlify-honeypot="bot-field">

                        <p class="mt0 f6">We’ll never share your personal details with anyone else. All fields marked <span class="red">*</span> are compulsory.</p>

                        <label for="name" class="db f5 pt3">Your name <span class="red">*</span></label>
                        <input required class="border-box w-100" type="text" name="name" id="name">

                        <label for="email" class="db f5 pt3">Your email</label>
                        <input class="border-box w-100" type="email" name="email" id="email">

                        <input class="clip" hidden value="{{ page.name }} at {{ page.location-text }} on {{ page.event-start-date }}" name="event-details" id="event-details">

                        <label for="comments" class="db f5 pt3">Any details you’d like to add</label>
                        <textarea class="db border-box w-100 vh-25" name="comments" id="comments"></textarea>

                        <p class="dn"><input name="bot-field"></p>

                        <div class="pt3">{% include /c/button-submit-blue.html text="Register" %}</div>

                      </form>

                      {% endif %}

                    </div>

                </div>

            </article>

        </main>

    </div>

{% include footer.html %}
