{% include header.html %}

{% include hero.html %}

{% if page.hnav %}

    {% include hnav.html %}

{% endif %}

    <div class="{% include /c/main.html %}">

        <main id="content" class="{% include /c/content-box.html %}" role="main">

            {% include breadcrumb.html %}

            <div class="custom-narrow-width">

                <h1 class="{% include /c/page-title.html %}{% if page.centre-title %} tc{% endif %}">{{ page.title }}</h1>

                <div class="{% include /c/prose.html %} custom-visited custom-underline">

                    {% if page.title contains "Saxmundham Mobile Library Route" %}

                        <div class="{% include /c/generic-panel.html %}">

                            <p>Please note the Saxmundham Mobile library is currently broken and we don't expect it to run until <strong>Wednesday 3 January 2018</strong>. We will extend any loans due back while the mobile library is unavailable. Call 01473 351249 or email help@suffolklibraries.co.uk if you have any questions.</p>

                            <p>You can also <a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB">renew your titles online</a>.</p>

                        </div>

                    {% endif %}

                    {{ content }}

                </div>

                {% include comments.html %}

            </div>

        </main>

    </div>

{% include footer.html %}
