{% include header.html %}

{% if page.hnav %}

  {% capture hnav-file %}{{ page.hnav }}{% endcapture %}

  {% include hnav-small.html menu=hnav-file %}

{% endif %}

<main class="ph2 ph3-ns pv3 pv4-l bg-moon-gray" id="content" role="main">

  {% if page.breadcrumb %}

    <div class="custom-max-width bg-white">

      {% include breadcrumb.html %}

    </div>

  {% endif %}

  <article class="bg-white custom-max-width">

    {% if page.pad-content %}<div class="ph2 ph3-ns pv3 bg-white">{% endif %}

      {% if page.measure %}<div class="measure center">{% endif %}

      {{ content }}

      {% if page.measure %}</div>{% endif %}

    {% if page.pad-content %}</div>{% endif %}

  </article>

</main>

{% include footer.html %}
