{% include header.html %}

{% if page.hnav %}

  {% capture hnav-file %}{{ page.hnav }}{% endcapture %}

  {% include hnav-small.html menu=hnav-file %}

{% endif %}

{% include hero.html %}

<div class="{% include /c/main.html %}">

    <main id="content" role="main">

        <div class="custom-g-r4">

            {% include article.html %}

        </div>

    </main>

    <div class="custom-g-r2 custom-g-nm custom-underline">

        {% include sidebar.html %}

    </div>

</div>

{% include footer.html %}
