---
layout: blank
title: Home Library Service enquiry
breadcrumb: mobiles-home
---

{% include hnav-small.html menu="mandh" %}

<article class="ph2 ph3-ns pv3 pv4-l bg-white">

	<div class="custom-max-width">

		{% include breadcrumb.html %}

		<h1 class="custom-lh-title f2 pa0 ma0 mb3">Home Library Service enquiry confirmation</h1>

		<div class="measure">

      <p>Thanks for contacting us about the Home Library Service. We’ll be in touch as soon as possible. If you have any questions email hls@suffolklibraries.co.uk or call 01473 351249.</p>

    </div>

  </div>

</article>
