<section class="{% include /c/sidebar-section.html %}">

      <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

      <ul class="{% include /c/sidebar-section-list.html %}">

          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/legal-information/board-members/">Board members</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/legal-information/documents/">Documents (including board meeting minutes)</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/legal-information/gender-pay-gap/">Gender Pay Gap</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/legal-information/complaints-procedure/">Complaints procedure</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/legal-information/member-organisations/">Member organisations</a></li>

      </ul>

  </section>
