<section class="{% include /c/sidebar-section.html %}">

    <h2 class="{% include /c/sidebar-section-title.html %}">In this section</h2>

    <ul class="{% include /c/sidebar-section-list.html %}">

        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/">New Chapters Home</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/pride-and-periods/">Pride & Periods</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/events/">Events</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/links/">Links for your health and wellbeing</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/books-on-prescription/">Books on Prescription</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/lists/">Book recommendations</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/contact/">Contact</a></li>

    </ul>

</section>
