<section class="{% include /c/sidebar-section.html %}">

    <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

    <ul class="{% include /c/sidebar-section-list.html %}">

        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/volunteer/">Volunteering with Suffolk Libraries</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/volunteer/volunteer-case-studies/">Case studies</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/news/peoples-champions-2019/">Volunteer Awards 2019</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/volunteer/home-library-service/">Home library service volunteers</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/events-activities/summer-reading-challenge/">Summer Reading Challenge</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/events-activities/sporting-memories/">Sporting Memories</a></li>

    </ul>

</section>
