<section class="{% include /c/sidebar-section.html %}">

    <h1 class="{% include /c/sidebar-section-title.html %}">More benefits, money &amp; work advice</h1>

    <ul class="{% include /c/sidebar-section-list.html %}">

        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://www.understandinguniversalcredit.gov.uk/">Understanding Universal Credit</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://www.gov.uk/guidance/universal-credit-toolkit-for-partner-organisations">Universal Credit Guide for Partner Organisations</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://www.citizensadvice.org.uk/">Citizens Advice</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="http://www.citizensadviceipswich.org.uk/">Citizens Advice Ipswich</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}">Citizens Advice Felixstowe: 0333 358 3970</li>
        <li class="{% include /c/sidebar-section-list-item.html %}">Citizens Advice Leiston and Saxmundham: 01728 832193</li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://www.gov.uk/contact-jobcentre-plus">Jobcentre Plus</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}">Jobcentre Plus Ipswich: 0843 816 6266, 13 St Nicholas St, Ipswich, IP1 1TH</li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://www.gov.uk/jobsearch">Find a Job – the new Government jobs site</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="http://www.ihag.co.uk/">Ipswich Housing Action Group</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://www.moneyadviceservice.org.uk/">Money Advice Service</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://www.bbc.co.uk/webwise">BBC Webwise</a> – good advice on setting up an email address</li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://www.eslcu.co.uk/">Eastern Savings and Loans</a> – help with your money</li>

    </ul>

</section>
