---
layout: full-width-narrow
title: 'Spaces for hire in the Enterprise + Innovation Hub'
breadcrumb: hub
---

<div class="cf">

    <p class="tc pb3">{% include /c/button-blue.html text="Book a space &rarr;" url="https://uk.bookingbug.com/home/45066-Enterprise-+-Innovation-Hub" %}</p>

  <div class="custom-g-l3">

    <p>Comprising the second floor of Ipswich County Library, the Carnegie Room offers a variety of spaces perfect for business meeting and presentations.

    </p>The room has free WiFi, power points and a kitchen.</p>

  </div>

  <div class="custom-g-l3 custom-g-nm">

    <table class="pure-table">
      <thead>
      <tr>
      <th>Day</th>
      <th>Hours</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>Monday</td>
      <td>0900 - 1800</td>
      </tr>
      <tr>
      <td>Tuesday</td>
      <td>0900 - 1900</td>
      </tr>
      <tr>
      <td>Wednesday</td>
      <td>0900 - 1800</td>
      </tr>
      <tr>
      <td>Thursday</td>
      <td>0900 - 1800</td>
      </tr>
      <tr>
      <td>Friday</td>
      <td>0900 - 1900</td>
      </tr>
      <tr>
      <td>Saturday</td>
      <td>0830 - 1700</td>
      </tr>
      <tr>
      <td>Sunday</td>
      <td>1000 - 1600</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<section class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <h1 class="{% include /c/sub-head.html %} tc">Carnegie Room</h1>

  <div class="cf">

    <div class="custom-g-l3">

      <p>Hire of the Carnegie Room includes a large open plan lounge and presentation suite configurable to your requirements, in addition to exclusive use of the Lab and pods. Email <strong>hub@suffolklibraries.co.uk</strong> for further details.</p>

    </div>

    <div class="custom-g-r3 custom-g-nm">

      <table class="pure-table">
        <thead>
        <tr>
        <th>Advance booking (per day)</th>
        <th>Advance booking (per half-day)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>£250</td>
        <td>£125</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</section>

<section class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <h1 class="{% include /c/sub-head.html %} tc">Lounge &amp; presentation suite</h1>

  <p><img src="/images/featured/featured-hub-lounge-collage.jpg" alt="Lounge" /></p>

  <div class="cf">

    <div class="custom-g-r3">

      <p>The Lounge is packed with sofas and coffee tables and a fully equipped presentation suite seating an audience of 50. Discounts for whole day bookings are available on request.</p>

    </div>

    <div class="custom-g-l3 custom-g-nm">

      <table class="pure-table">
        <thead>
        <tr>
        <th>Advance booking (per hour)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>£20</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</section>

<section class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <h1 class="{% include /c/sub-head.html %} tc">Pods</h1>

  <p><img src="/images/featured/featured-hub-pod.jpg" alt="Pods" /></p>

  <div class="cf">

    <div class="custom-g-l3">

      <p>Two glass rooms ideal for private meetings. Each pod contains a round table, four seats and flipcharts.</p>

    </div>

    <div class="custom-g-l3 custom-g-nm">

      <table class="pure-table">
        <thead>
        <tr>
        <th>Advance booking (per hour)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>£4.80</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</section>

<section class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <h1 class="{% include /c/sub-head.html %} tc">Lab</h1>

  <p><img src="/images/featured/featured-hub-lab.jpg" alt="Lab" /></p>

  <div class="cf">

    <div class="custom-g-r3">

      <p>Meeting space with whiteboard, table and space for up to 15 chairs. Discounts for whole day bookings are available on request.</p>

    </div>

    <div class="custom-g-l3 custom-g-nm">

      <table class="pure-table">
        <thead>
        <tr>
        <th>Advance booking (per hour)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>£12</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</section>

<p class="tc">{% include /c/button-blue.html text="Book a space &rarr;" url="https://uk.bookingbug.com/home/45066-Enterprise-+-Innovation-Hub" %}</p>

</section>
