---
layout: full-width
title: "Suffolk Libraries Arts Programme: BLOC (Building Libraries on Creativity)"
breadcrumb: home
---

<div class="fl-ns w-50-ns pr3-ns">

      <p>In summer 2017, <a href="/news/suffolk-libraries-given-national-portfolio-status/">we were awarded National Portfolio Organisation (NPO) status and £740,000 from Arts Council England</a> to help young people develop arts and culture activities in libraries from 2018-22. <a href="/news/national-portfolio-organisation/">We were offically granted NPO status in April 2018</a>.</p>

</div>

<div class="fr-ns w-50-ns pl3-ns">


      <div class="{% include /c/generic-panel.html %}">

          <h2>Meet Melissa Matthews, our art programmes coordinator</h2>

          <img src="/images/featured/featured-melissa-matthews.jpg" alt="Melissa Matthews" class="custom-br-50 mw-40 {% include /c/img-float-right.html %}" />

          <p>Melissa joined us in April 2018 to oversee our Arts Council England funded young people's arts project. Since then, she has been working with staff and partner organisations to develop the programme.</p>

          <p>Email <strong>arts@suffolklibraries.co.uk</strong> if you'd like to find out more about the scheme.</p>

      </div>

</div>

<h2>The story so far</h2>

<p>Over the past few months, we have:</p>

    <ul>

          <li>Welcomed art progammes coordinator Melissa Matthews to oversee our countywide arts programme.</li>
          <li>Worked with partner organisations to develop the project. We are also collaborating with well-established national arts organisation <a href="http://www.metalculture.com/">METAL</a> in the first year of hte programme.</li>
          <img src="/images/featured/featured-zine-making-1.jpg" alt="Young people making a zine for the Suffolk Libraries arts programme" class="custom-br-50 mw-40 {% include /c/img-float-left.html %}" />
          <li>Worked with young people and education professionals to develop ideas for, activities and branding of the programme. Young people will continue to be involved with the project's evolution as the Suffolk Libraries Youth Arts Council.</li>
          <li>Empowered our staff to develop and deliver their ideas at an 'Arts Bootcamp'.</li>
          <li>Run a week-long <a href="/bloc/culture-lab/">Culture Lab</a> artists' residency at Ipswich County Library in August 2018 with ten artists from a variety of disciplines and backgrounds.</li>
          <li>Officially launched the arts programme with its name and branding. The programme will be known as <a href="/bloc/">BLOC: Building Libraries on Creativity</a>.</li>

      </ul>


<p class="mt0 mb2 tc"><a class="custom-no-underline" href="/bloc/"><img class="mw-40" src="/images/bloc/bloc-logo-370.png" alt="Building Libraries on Creativity"></a></p>

<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

      <ul class="cf list ma0 pa0 mb2 tc custom-prose center">

      <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="https://www.artscouncil.org.uk/"><img src="/images/featured/featured-arts-council-england-logo.jpg" alt="Arts Council England logo"></a></li>

      </ul>

</footer>
